USE [master]
GO
/****** Object:  Database [dbTreinamento]    Script Date: 12/03/2026 16:21:25 ******/
CREATE DATABASE [dbTreinamento]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'dbTreinamento', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\dbTreinamento.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'dbTreinamento_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\dbTreinamento_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [dbTreinamento].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [dbTreinamento]
GO
/****** Object:  Table [dbo].[Ism_Acao]    Script Date: 12/03/2026 16:21:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ism_Acao](
	[idAcao] [int] IDENTITY(1,1) NOT NULL,
	[idPagina] [int] NOT NULL,
	[Codigo] [varchar](50) NOT NULL,
	[Caption] [varchar](50) NOT NULL,
	[Procedure] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Ism_Acao] PRIMARY KEY CLUSTERED 
(
	[idAcao] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ism_Autorizacao]    Script Date: 12/03/2026 16:21:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ism_Autorizacao](
	[idAutorizacao] [int] IDENTITY(1,1) NOT NULL,
	[idAcao] [int] NOT NULL,
	[idOperador] [int] NOT NULL,
 CONSTRAINT [PK_Ism_Autorizacao] PRIMARY KEY CLUSTERED 
(
	[idAutorizacao] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ism_Jogador]    Script Date: 12/03/2026 16:21:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ism_Jogador](
	[idJogador] [int] IDENTITY(1,1) NOT NULL,
	[idTime] [int] NOT NULL,
	[Nome] [varchar](50) NOT NULL,
	[Salario] [money] NOT NULL,
	[Capitao] [bit] NOT NULL,
	[Tecnico] [bit] NOT NULL,
	[Suspenso] [bit] NOT NULL,
 CONSTRAINT [PK_Ism_Jogador] PRIMARY KEY CLUSTERED 
(
	[idJogador] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ism_Jogo]    Script Date: 12/03/2026 16:21:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ism_Jogo](
	[idJogo] [int] IDENTITY(1,1) NOT NULL,
	[idTime1] [int] NOT NULL,
	[idTime2] [int] NOT NULL,
	[Placar1] [int] NOT NULL,
	[Placar2] [int] NOT NULL,
	[DataInicio] [datetime] NOT NULL,
	[DataFinal] [datetime] NOT NULL,
	[CaminhoArq] [varchar](100) NULL,
 CONSTRAINT [PK_Ism_Jogo] PRIMARY KEY CLUSTERED 
(
	[idJogo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ism_Modulo]    Script Date: 12/03/2026 16:21:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ism_Modulo](
	[idModulo] [int] IDENTITY(1,1) NOT NULL,
	[idSistema] [int] NOT NULL,
	[Codigo] [varchar](50) NOT NULL,
	[Caption] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Ism_Modulo] PRIMARY KEY CLUSTERED 
(
	[idModulo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ism_Operador]    Script Date: 12/03/2026 16:21:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ism_Operador](
	[idOperador] [int] IDENTITY(1,1) NOT NULL,
	[Cpf] [varchar](50) NOT NULL,
	[Nome] [varchar](50) NOT NULL,
	[Senha] [varchar](50) NOT NULL,
	[Tema] [bit] NOT NULL,
 CONSTRAINT [PK_Ism_Operador] PRIMARY KEY CLUSTERED 
(
	[idOperador] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ism_Pagina]    Script Date: 12/03/2026 16:21:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ism_Pagina](
	[idPagina] [int] IDENTITY(1,1) NOT NULL,
	[idModulo] [int] NOT NULL,
	[Codigo] [varchar](50) NOT NULL,
	[Caption] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Ism_Pagina] PRIMARY KEY CLUSTERED 
(
	[idPagina] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ism_Participacao]    Script Date: 12/03/2026 16:21:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ism_Participacao](
	[idParticipacao] [int] IDENTITY(1,1) NOT NULL,
	[idJogo] [int] NOT NULL,
	[idJogador] [int] NOT NULL,
	[GolsMarcados] [int] NOT NULL,
 CONSTRAINT [PK_Ism_Participacao] PRIMARY KEY CLUSTERED 
(
	[idParticipacao] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ism_Sistema]    Script Date: 12/03/2026 16:21:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ism_Sistema](
	[idSistema] [int] IDENTITY(1,1) NOT NULL,
	[Codigo] [varchar](50) NOT NULL,
	[Caption] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Ism_Sistema] PRIMARY KEY CLUSTERED 
(
	[idSistema] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ism_Time]    Script Date: 12/03/2026 16:21:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ism_Time](
	[idTime] [int] IDENTITY(1,1) NOT NULL,
	[Nome] [varchar](50) NOT NULL,
 CONSTRAINT [PK_ISM_Time] PRIMARY KEY CLUSTERED 
(
	[idTime] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Ism_Acao] ON 

INSERT [dbo].[Ism_Acao] ([idAcao], [idPagina], [Codigo], [Caption], [Procedure]) VALUES (3, 1, N'C', N'Consultar/Visualizar', N'stp_Ism_Time_Sel')
INSERT [dbo].[Ism_Acao] ([idAcao], [idPagina], [Codigo], [Caption], [Procedure]) VALUES (4, 1, N'I', N'Incluir', N'stp_Ism_Time_Ins')
INSERT [dbo].[Ism_Acao] ([idAcao], [idPagina], [Codigo], [Caption], [Procedure]) VALUES (6, 1, N'E', N'Deletar', N'stp_Ism_Time_Del')
SET IDENTITY_INSERT [dbo].[Ism_Acao] OFF
GO
SET IDENTITY_INSERT [dbo].[Ism_Autorizacao] ON 

INSERT [dbo].[Ism_Autorizacao] ([idAutorizacao], [idAcao], [idOperador]) VALUES (2, 4, 1)
INSERT [dbo].[Ism_Autorizacao] ([idAutorizacao], [idAcao], [idOperador]) VALUES (3, 6, 1)
INSERT [dbo].[Ism_Autorizacao] ([idAutorizacao], [idAcao], [idOperador]) VALUES (5, 8, 1)
SET IDENTITY_INSERT [dbo].[Ism_Autorizacao] OFF
GO
SET IDENTITY_INSERT [dbo].[Ism_Jogador] ON 

INSERT [dbo].[Ism_Jogador] ([idJogador], [idTime], [Nome], [Salario], [Capitao], [Tecnico], [Suspenso]) VALUES (1, 1, N'Kaka', 200000.0000, 0, 0, 0)
INSERT [dbo].[Ism_Jogador] ([idJogador], [idTime], [Nome], [Salario], [Capitao], [Tecnico], [Suspenso]) VALUES (2, 4, N'Nakamura', 250000.0000, 1, 0, 0)
INSERT [dbo].[Ism_Jogador] ([idJogador], [idTime], [Nome], [Salario], [Capitao], [Tecnico], [Suspenso]) VALUES (3, 1, N'Adriano', 77777.7700, 1, 0, 0)
SET IDENTITY_INSERT [dbo].[Ism_Jogador] OFF
GO
SET IDENTITY_INSERT [dbo].[Ism_Jogo] ON 

INSERT [dbo].[Ism_Jogo] ([idJogo], [idTime1], [idTime2], [Placar1], [Placar2], [DataInicio], [DataFinal], [CaminhoArq]) VALUES (1, 1, 2, 7, 4, CAST(N'2026-03-04T09:49:47.580' AS DateTime), CAST(N'2026-03-04T12:49:47.580' AS DateTime), NULL)
INSERT [dbo].[Ism_Jogo] ([idJogo], [idTime1], [idTime2], [Placar1], [Placar2], [DataInicio], [DataFinal], [CaminhoArq]) VALUES (2, 3, 4, 5, 4, CAST(N'2026-03-04T09:49:47.580' AS DateTime), CAST(N'2026-03-04T12:49:47.580' AS DateTime), NULL)
INSERT [dbo].[Ism_Jogo] ([idJogo], [idTime1], [idTime2], [Placar1], [Placar2], [DataInicio], [DataFinal], [CaminhoArq]) VALUES (3, 2, 4, 6, 4, CAST(N'2026-03-04T09:49:47.580' AS DateTime), CAST(N'2026-03-04T12:49:47.580' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[Ism_Jogo] OFF
GO
SET IDENTITY_INSERT [dbo].[Ism_Modulo] ON 

INSERT [dbo].[Ism_Modulo] ([idModulo], [idSistema], [Codigo], [Caption]) VALUES (1, 1, N'Cadastro', N'Cadastro')
INSERT [dbo].[Ism_Modulo] ([idModulo], [idSistema], [Codigo], [Caption]) VALUES (2, 1, N'Consulta', N'Consulta')
INSERT [dbo].[Ism_Modulo] ([idModulo], [idSistema], [Codigo], [Caption]) VALUES (3, 2, N'Cadastro', N'Cadastro')
SET IDENTITY_INSERT [dbo].[Ism_Modulo] OFF
GO
SET IDENTITY_INSERT [dbo].[Ism_Operador] ON 

INSERT [dbo].[Ism_Operador] ([idOperador], [Cpf], [Nome], [Senha], [Tema]) VALUES (1, N'07455027419', N'Isac Manoel', N'@Erleis26@', 0)
INSERT [dbo].[Ism_Operador] ([idOperador], [Cpf], [Nome], [Senha], [Tema]) VALUES (3, N'12345678910', N'Carlos', N'Carlos123', 0)
SET IDENTITY_INSERT [dbo].[Ism_Operador] OFF
GO
SET IDENTITY_INSERT [dbo].[Ism_Pagina] ON 

INSERT [dbo].[Ism_Pagina] ([idPagina], [idModulo], [Codigo], [Caption]) VALUES (1, 1, N'Time', N'Times')
INSERT [dbo].[Ism_Pagina] ([idPagina], [idModulo], [Codigo], [Caption]) VALUES (2, 1, N'Jogador', N'Jogadores')
INSERT [dbo].[Ism_Pagina] ([idPagina], [idModulo], [Codigo], [Caption]) VALUES (3, 1, N'Participacao', N'Participações')
SET IDENTITY_INSERT [dbo].[Ism_Pagina] OFF
GO
SET IDENTITY_INSERT [dbo].[Ism_Participacao] ON 

INSERT [dbo].[Ism_Participacao] ([idParticipacao], [idJogo], [idJogador], [GolsMarcados]) VALUES (1, 1, 1, 4)
INSERT [dbo].[Ism_Participacao] ([idParticipacao], [idJogo], [idJogador], [GolsMarcados]) VALUES (2, 2, 5, 5)
INSERT [dbo].[Ism_Participacao] ([idParticipacao], [idJogo], [idJogador], [GolsMarcados]) VALUES (3, 2, 6, 1)
SET IDENTITY_INSERT [dbo].[Ism_Participacao] OFF
GO
SET IDENTITY_INSERT [dbo].[Ism_Sistema] ON 

INSERT [dbo].[Ism_Sistema] ([idSistema], [Codigo], [Caption]) VALUES (1, N'Copa', N'CopaLog')
INSERT [dbo].[Ism_Sistema] ([idSistema], [Codigo], [Caption]) VALUES (2, N'Admin', N'Administração')
SET IDENTITY_INSERT [dbo].[Ism_Sistema] OFF
GO
SET IDENTITY_INSERT [dbo].[Ism_Time] ON 

INSERT [dbo].[Ism_Time] ([idTime], [Nome]) VALUES (1, N'Brasil')
INSERT [dbo].[Ism_Time] ([idTime], [Nome]) VALUES (2, N'Croácia')
INSERT [dbo].[Ism_Time] ([idTime], [Nome]) VALUES (3, N'Austrália')
SET IDENTITY_INSERT [dbo].[Ism_Time] OFF
GO
/****** Object:  Index [UQ_Capitao_Time]    Script Date: 12/03/2026 16:21:26 ******/
CREATE UNIQUE NONCLUSTERED INDEX [UQ_Capitao_Time] ON [dbo].[Ism_Jogador]
(
	[idTime] ASC,
	[Capitao] ASC
)
WHERE ([Capitao]=(1))
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_Tecnico_Time]    Script Date: 12/03/2026 16:21:26 ******/
CREATE UNIQUE NONCLUSTERED INDEX [UQ_Tecnico_Time] ON [dbo].[Ism_Jogador]
(
	[idTime] ASC,
	[Tecnico] ASC
)
WHERE ([Tecnico]=(1))
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Ism_Jogador] ADD  DEFAULT ((0)) FOR [Salario]
GO
ALTER TABLE [dbo].[Ism_Jogador] ADD  DEFAULT ((0)) FOR [Capitao]
GO
ALTER TABLE [dbo].[Ism_Jogador] ADD  DEFAULT ((0)) FOR [Tecnico]
GO
ALTER TABLE [dbo].[Ism_Jogador] ADD  DEFAULT ((0)) FOR [Suspenso]
GO
ALTER TABLE [dbo].[Ism_Jogo] ADD  CONSTRAINT [DF_Ism_Jogo_Placar1]  DEFAULT ((0)) FOR [Placar1]
GO
ALTER TABLE [dbo].[Ism_Jogo] ADD  CONSTRAINT [DF_Ism_Jogo_Placar2]  DEFAULT ((0)) FOR [Placar2]
GO
ALTER TABLE [dbo].[Ism_Jogo] ADD  DEFAULT ('2000-01-01') FOR [DataInicio]
GO
ALTER TABLE [dbo].[Ism_Jogo] ADD  DEFAULT ('2000-01-01') FOR [DataFinal]
GO
ALTER TABLE [dbo].[Ism_Operador] ADD  CONSTRAINT [DF_Ism_Operador_Tema]  DEFAULT ((0)) FOR [Tema]
GO
ALTER TABLE [dbo].[Ism_Participacao] ADD  CONSTRAINT [DF_Ism_Participacao_GolsMarcados]  DEFAULT ((0)) FOR [GolsMarcados]
GO
ALTER TABLE [dbo].[Ism_Acao]  WITH CHECK ADD  CONSTRAINT [FK_Ism_Acao_Ism_Pagina] FOREIGN KEY([idPagina])
REFERENCES [dbo].[Ism_Pagina] ([idPagina])
GO
ALTER TABLE [dbo].[Ism_Acao] CHECK CONSTRAINT [FK_Ism_Acao_Ism_Pagina]
GO
ALTER TABLE [dbo].[Ism_Autorizacao]  WITH CHECK ADD  CONSTRAINT [FK_Ism_Autorizacao_Ism_Acao] FOREIGN KEY([idAcao])
REFERENCES [dbo].[Ism_Acao] ([idAcao])
GO
ALTER TABLE [dbo].[Ism_Autorizacao] CHECK CONSTRAINT [FK_Ism_Autorizacao_Ism_Acao]
GO
ALTER TABLE [dbo].[Ism_Autorizacao]  WITH CHECK ADD  CONSTRAINT [FK_Ism_Autorizacao_Ism_Operador1] FOREIGN KEY([idOperador])
REFERENCES [dbo].[Ism_Operador] ([idOperador])
GO
ALTER TABLE [dbo].[Ism_Autorizacao] CHECK CONSTRAINT [FK_Ism_Autorizacao_Ism_Operador1]
GO
ALTER TABLE [dbo].[Ism_Jogador]  WITH CHECK ADD  CONSTRAINT [FK_Ism_Jogador_ISM_Time] FOREIGN KEY([idTime])
REFERENCES [dbo].[Ism_Time] ([idTime])
GO
ALTER TABLE [dbo].[Ism_Jogador] CHECK CONSTRAINT [FK_Ism_Jogador_ISM_Time]
GO
ALTER TABLE [dbo].[Ism_Jogo]  WITH CHECK ADD  CONSTRAINT [FK_Ism_Jogo_ISM_Time] FOREIGN KEY([idTime1])
REFERENCES [dbo].[Ism_Time] ([idTime])
GO
ALTER TABLE [dbo].[Ism_Jogo] CHECK CONSTRAINT [FK_Ism_Jogo_ISM_Time]
GO
ALTER TABLE [dbo].[Ism_Jogo]  WITH CHECK ADD  CONSTRAINT [FK_Ism_Jogo_ISM_Time1] FOREIGN KEY([idTime2])
REFERENCES [dbo].[Ism_Time] ([idTime])
GO
ALTER TABLE [dbo].[Ism_Jogo] CHECK CONSTRAINT [FK_Ism_Jogo_ISM_Time1]
GO
ALTER TABLE [dbo].[Ism_Modulo]  WITH CHECK ADD  CONSTRAINT [FK_Ism_Modulo_Ism_Sistema] FOREIGN KEY([idSistema])
REFERENCES [dbo].[Ism_Sistema] ([idSistema])
GO
ALTER TABLE [dbo].[Ism_Modulo] CHECK CONSTRAINT [FK_Ism_Modulo_Ism_Sistema]
GO
ALTER TABLE [dbo].[Ism_Pagina]  WITH CHECK ADD  CONSTRAINT [FK_Ism_Pagina_Ism_Modulo] FOREIGN KEY([idModulo])
REFERENCES [dbo].[Ism_Modulo] ([idModulo])
GO
ALTER TABLE [dbo].[Ism_Pagina] CHECK CONSTRAINT [FK_Ism_Pagina_Ism_Modulo]
GO
ALTER TABLE [dbo].[Ism_Participacao]  WITH CHECK ADD  CONSTRAINT [FK_Ism_Participacao_Ism_Jogador] FOREIGN KEY([idJogador])
REFERENCES [dbo].[Ism_Jogador] ([idJogador])
GO
ALTER TABLE [dbo].[Ism_Participacao] CHECK CONSTRAINT [FK_Ism_Participacao_Ism_Jogador]
GO
ALTER TABLE [dbo].[Ism_Participacao]  WITH CHECK ADD  CONSTRAINT [FK_Ism_Participacao_Ism_Jogo] FOREIGN KEY([idJogo])
REFERENCES [dbo].[Ism_Jogo] ([idJogo])
GO
ALTER TABLE [dbo].[Ism_Participacao] CHECK CONSTRAINT [FK_Ism_Participacao_Ism_Jogo]
GO
ALTER TABLE [dbo].[Ism_Jogador]  WITH CHECK ADD  CONSTRAINT [CK_Capitao_Tecnico] CHECK  ((NOT ([Capitao]=(1) AND [Tecnico]=(1))))
GO
ALTER TABLE [dbo].[Ism_Jogador] CHECK CONSTRAINT [CK_Capitao_Tecnico]
GO
/****** Object:  StoredProcedure [dbo].[stp_dependsquefunciona]    Script Date: 12/03/2026 16:21:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[stp_dependsquefunciona] (
	@objeto VARCHAR(100)
)
AS
BEGIN
	SELECT DISTINCT name 
	FROM syscomments (NOLOCK)
	JOIN sysobjects (NOLOCK) ON sysobjects.id = syscomments.id
	WHERE CHARINDEX(@objeto, Text) > 0
	ORDER BY name
END
GO
/****** Object:  StoredProcedure [dbo].[stp_Ism_AbreSessao]    Script Date: 12/03/2026 16:21:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- ===============================================
-- Autor: Isac Macedo
-- Data criação: 27/02/2026
-- Descrição: Procedure para o menu dinamico
-- ===============================================

CREATE   PROCEDURE [dbo].[stp_Ism_AbreSessao] (
	@Cpf VARCHAR(11) = NULL,
	@Senha VARCHAR(50) = NULL
)
AS
BEGIN
	BEGIN TRY
		SET NOCOUNT ON 

		DECLARE @MsgErro VARCHAR(255), @ERRO BIT

		IF @Cpf IS NULL
		BEGIN
			RAISERROR(50001, 10, 1, 'cpf', 'Informe o CPF')
			SET @ERRO = 1
		END
		
		IF @Senha IS NULL
		BEGIN
			RAISERROR(50001, 10, 1, 'senha', 'Informe a Senha')
			SET @ERRO = 1
		END

		IF NOT EXISTS(
			SELECT *
			FROM Ism_Operador
			WHERE Cpf = @Cpf AND Senha = @Senha
		)
		BEGIN
			RAISERROR(50001, 10, 1, 'senha', 'Acesso negado')
			SET @ERRO = 1
		END

		IF @ERRO = 1 RETURN 1
		
		SELECT IdOperador, Nome
		FROM Ism_Operador
		WHERE CPF = @Cpf AND Senha = @Senha



		RETURN 0
	END TRY
	BEGIN CATCH
		SET @MsgErro = ERROR_MESSAGE()
		RAISERROR(@MsgErro, 16, 1)
	END CATCH
END
		


GO
/****** Object:  StoredProcedure [dbo].[stp_Ism_Acao_Del]    Script Date: 12/03/2026 16:21:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- ===============================================
-- Autor: Isac Macedo
-- Data criação: 24/02/2026
-- Descrição: Exclui Registros da Tabela Ism_Acao
-- ===============================================


CREATE   PROCEDURE [dbo].[stp_Ism_Acao_Del](
	@idAcao INT = NULL,
	@idPagina INT = NULL,
	@Codigo VARCHAR(50) = NULL,
	@Caption VARCHAR(50) = NULL,
	@Procedure VARCHAR(50) = NULL
)
AS
BEGIN
	BEGIN TRY
		SET NOCOUNT ON

		DECLARE @MsgErro VARCHAR(255), @Erro BIT

		IF @idAcao IS NULL
		BEGIN 
			RAISERROR('Informe o ID da Ação a ser removido dos registros', 16, 1)
		END


		DELETE Ism_Acao
		WHERE @idAcao = idAcao


		RETURN 0 
	END TRY
	BEGIN CATCH
		SET @MsgErro = ERROR_MESSAGE()
		RAISERROR(@MsgErro, 16, 1)
	END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[stp_Ism_Acao_Ins]    Script Date: 12/03/2026 16:21:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ================================================
-- Autor: Isac Macedo
-- Data criação: 24/02/2026
-- Descrição: Inserir Registros da Tabela Ism_Acao
-- ================================================


CREATE   PROCEDURE [dbo].[stp_Ism_Acao_Ins](
	@idAcao INT = NULL,
	@idPagina INT = NULL,
	@Codigo VARCHAR(50) = NULL,
	@Caption VARCHAR(50) = NULL,
	@Procedure VARCHAR(50) = NULL
)
AS
BEGIN
	BEGIN TRY 
		SET NOCOUNT ON
		
		DECLARE @MsgErro VARCHAR(255), @Erro BIT

		IF @idPagina IS NULL
		BEGIN                                   
			RAISERROR(50001, 10, 1, 'idPagina', 'Selecione uma Pagina!')
			SET @Erro = 1
		END

			IF NULLIF(TRIM(@Codigo), '') IS NULL
		BEGIN
			RAISERROR(50001, 10, 1, 'codigo', 'O codigo da ação não pode estar vazio')
			SET @Erro = 1
		END

		IF ISNUMERIC(@Codigo) = 1
		BEGIN
			RAISERROR(50001, 10, 1, 'codigo', 'O codigo da ação não pode ser numérico')
			SET @Erro = 1
		END

		IF NULLIF(TRIM(@Caption), '') IS NULL
		BEGIN
			RAISERROR(50001, 10, 1, 'caption', 'O nome da ação não pode estar vazio')
			SET @Erro = 1
		END

		IF ISNUMERIC(@Caption) = 1
		BEGIN
			RAISERROR(50001, 10, 1, 'caption', 'O nome da ação não pode ser numérico')
			SET @Erro = 1
		END

		IF LEN(@Caption) < 3
		BEGIN
			RAISERROR(50001, 10, 1, 'caption', 'O nome da ação não pode ter menos que 3 caracteres')
			SET @Erro = 1
		END

		IF NULLIF(TRIM(@Procedure), '') IS NULL
		BEGIN
			RAISERROR(50001, 10, 1, 'procedure', 'A Procedure da Ação não pode estar vazio')
			SET @Erro = 1
		END

		IF ISNUMERIC(@Procedure) = 1
		BEGIN
			RAISERROR(50001, 10, 1, 'procedure', 'A Procedure da Ação não pode ser numérico')
			SET @Erro = 1
		END

		IF LEN(@Procedure) < 3
		BEGIN
			RAISERROR(50001, 10, 1, 'procedure', 'A Procedure da Ação não pode ter menos que 3 caracteres')
			SET @Erro = 1
		END

		IF @Erro = 1 RETURN 1

		IF EXISTS (
			SELECT *
			FROM
			Ism_Acao
			WHERE Caption = @Caption AND Codigo = @Codigo AND [Procedure] = @Procedure
		)
		BEGIN
			RAISERROR('Operação cancelada. Ja existe um sistema com informações iguais cadastrado', 16, 1)
		END

		INSERT INTO Ism_Acao(idPagina, Codigo, Caption, [Procedure])
		VALUES (@idPagina, @Codigo, @Caption, @Procedure)

		RETURN 0
	END TRY
	BEGIN CATCH 
		SET @MsgErro = ERROR_MESSAGE()
		RAISERROR(@MsgErro, 16, 1)

		RETURN 1
	END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[stp_Ism_Acao_Sel]    Script Date: 12/03/2026 16:21:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- ================================================
-- Autor: Isac Macedo
-- Data criação: 24/02/2026
-- Descrição: Selecionar Registros da Tabela Ism_Acao
-- ================================================

CREATE   PROCEDURE [dbo].[stp_Ism_Acao_Sel](
	@Tipo INT = NULL,
	@idAcao INT = NULL
)
AS
BEGIN
	BEGIN TRY 
		SET NOCOUNT ON
		
		DECLARE @MsgErro VARCHAR(25)


		IF @Tipo = 1
		BEGIN
			SELECT
				IA.idAcao,
				IA.idPagina,
				IPA.Caption AS NomePagina,
				IA.Codigo,
				IA.Caption,
				IA.[Procedure]
			FROM Ism_Acao IA
			INNER JOIN Ism_Pagina IPA ON IA.idPagina = IPA.idPagina
			WHERE idAcao = @idAcao OR @idAcao IS NULL
			
		END

		IF @Tipo = 2 
		BEGIN
			SELECT 
				ISP.idPagina,
				ST.Caption AS NomeSistema,
				IM.Caption AS NomeModulo,
				ISP.Caption
			FROM Ism_Pagina ISP
			INNER JOIN Ism_Modulo IM ON ISP.idModulo = IM.idModulo
			INNER JOIN Ism_Sistema ST ON IM.idSistema = ST.idSistema
		END
			

		RETURN 0
	END TRY
	BEGIN CATCH 
		SET @MsgErro = ERROR_MESSAGE()
		RAISERROR(@MsgErro, 16, 1)

		RETURN 1
	END CATCH
END

GO
/****** Object:  StoredProcedure [dbo].[stp_Ism_Acao_Upt]    Script Date: 12/03/2026 16:21:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- ================================================
-- Autor: Isac Macedo
-- Data criação: 24/02/2026
-- Descrição: Altera Registros da Tabela Ism_Acao
-- ================================================


CREATE   PROCEDURE [dbo].[stp_Ism_Acao_Upt](
	@idAcao INT = NULL,
	@idPagina INT = NULL,
	@Codigo VARCHAR(50) = NULL,
	@Caption VARCHAR(50) = NULL,
	@Procedure VARCHAR(50) = NULL
)
AS
BEGIN
	BEGIN TRY 
		SET NOCOUNT ON
		
		DECLARE @MsgErro VARCHAR(255), @Erro BIT


		IF @idPagina IS NULL
		BEGIN                                   
			RAISERROR(50001, 10, 1, 'idPagina', 'Selecione um ação!')
			SET @Erro = 1
		END

			IF NULLIF(TRIM(@Codigo), '') IS NULL
		BEGIN
			RAISERROR(50001, 10, 1, 'codigo', 'O codigo da ação não pode estar vazio')
			SET @Erro = 1
		END

		IF ISNUMERIC(@Codigo) = 1
		BEGIN
			RAISERROR(50001, 10, 1, 'codigo', 'O codigo da ação não pode ser numérico')
			SET @Erro = 1
		END


		IF NULLIF(TRIM(@Caption), '') IS NULL
		BEGIN
			RAISERROR(50001, 10, 1, 'caption', 'O caption da ação não pode estar vazio')
			SET @Erro = 1
		END

		IF ISNUMERIC(@Caption) = 1
		BEGIN
			RAISERROR(50001, 10, 1, 'caption', 'O caption da ação não pode ser numérico')
			SET @Erro = 1
		END

		IF LEN(@Caption) < 3
		BEGIN
			RAISERROR(50001, 10, 1, 'caption', 'O caption da ação não pode ter menos que 3 caracteres')
			SET @Erro = 1
		END

		IF NULLIF(TRIM(@Procedure), '') IS NULL
		BEGIN
			RAISERROR(50001, 10, 1, 'caption', 'A procedure da ação não pode estar vazio')
			SET @Erro = 1
		END

		IF ISNUMERIC(@Procedure) = 1
		BEGIN
			RAISERROR(50001, 10, 1, 'caption', 'A procedure da ação não pode ser numérico')
			SET @Erro = 1
		END

		IF LEN(@Procedure) < 3
		BEGIN
			RAISERROR(50001, 10, 1, 'caption', 'A procedure da ação não pode ter menos que 3 caracteres')
			SET @Erro = 1
		END

		IF @Erro = 1 RETURN 1

		IF EXISTS (
			SELECT *
			FROM
			Ism_Acao
			WHERE Caption = @Caption AND Codigo = @Codigo OR @Procedure = [Procedure] AND idPagina = @idPagina AND @idAcao != @idAcao
		)
		BEGIN
			RAISERROR('Operação cancelada. Ja existe um ação com informações iguais cadastrado', 16, 1)
		END

		UPDATE Ism_Acao SET
			idPagina = @idPagina,
			Codigo = @Codigo,
			Caption = @Caption,
			[Procedure] = @Procedure

		WHERE idAcao = idAcao


		RETURN 0
	END TRY
	BEGIN CATCH 
		SET @MsgErro = ERROR_MESSAGE()
		RAISERROR(@MsgErro, 16, 1)

		RETURN 1
	END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[stp_Ism_Aproveitamento_Sel]    Script Date: 12/03/2026 16:21:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- ================================================
-- Autor: Isac Macedo
-- Data criação: 25/02/2026
-- Descrição: Selecionar Registros de Time e Jogador 
-- para a tela Aproveitamento.
-- ================================================

CREATE   PROCEDURE [dbo].[stp_Ism_Aproveitamento_Sel](
	@Tipo INT = NULL
	

)
AS
BEGIN
	BEGIN TRY 
		SET NOCOUNT ON
		
		DECLARE @MsgErro VARCHAR(25)

		IF @Tipo = 1 
		BEGIN
			SELECT
				idTime,
				Nome
			FROM Ism_Time
		END

		IF @Tipo = 2 
		BEGIN
			SELECT 
				idJogador,
				idTime,
				Nome
			FROM Ism_Jogador
		END


		RETURN 0
	END TRY
	BEGIN CATCH 
		SET @MsgErro = ERROR_MESSAGE()
		RAISERROR(@MsgErro, 16, 1)

		RETURN 1
	END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[stp_Ism_Aproveitamento_Upt]    Script Date: 12/03/2026 16:21:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- ================================================
-- Autor: Isac Macedo
-- Data criação: 25/02/2026
-- Descrição: Receber um json e voltar com dados adicionais 
-- ================================================

CREATE   PROCEDURE [dbo].[stp_Ism_Aproveitamento_Upt](
	@Json VARCHAR(MAX) = NULL
)
AS
BEGIN
	BEGIN TRY 
		SET NOCOUNT ON

		DECLARE @MsgErro VARCHAR(25)
		DECLARE @Times TABLE (IdTime INT, NomeTime VARCHAR(100), Gols INT, FolhaPagamento MONEY, Aproveitamento DECIMAL(10,2));
		DECLARE @Jogadores TABLE (IdJogador INT, IdTime INT, NomeJogador VARCHAR(100), Gols INT, Salario MONEY, Aproveitamento DECIMAL(10,2));
		
		INSERT INTO @Times (IdTime, NomeTime)
		SELECT 
			t.idTime, 
			t.NomeTime
		FROM OPENJSON(@Json) WITH (
			idTime VARCHAR(10)  '$.Id',
			NomeTime VARCHAR(50) '$.Nome'
		) t

		INSERT INTO @Jogadores (IdJogador,IdTime, NomeJogador)
		SELECT 
			j.idJogador,
			t.idTime,
			j.NomeJogador
		FROM OPENJSON(@Json) WITH (
			idTime VARCHAR(10)  '$.Id',
			jogadores NVARCHAR(MAX) AS JSON
		) t
		CROSS APPLY OPENJSON(t.Jogadores) WITH (
			idJogador VARCHAR(10) '$.Id',
			NomeJogador VARCHAR(50) '$.Nome'
		) j
		

		UPDATE J
		SET J.Salario = JG.Salario
		FROM @Jogadores AS J
		INNER JOIN Ism_Jogador AS Jg ON J.IdJogador = JG.idJogador

		UPDATE J
		SET J.Gols = P.Gols
		FROM @Jogadores AS J
		INNER JOIN (select 
						idJogador,
						SUM(GolsMarcados) AS Gols
					from Ism_Participacao
					group by idJogador
		) AS P ON J.IdJogador = P.idJogador
		
		UPDATE J
		SET J.Aproveitamento = CAST(p.golsMarcados AS DECIMAL(10,2))/p.JogosJogados
		FROM @Jogadores AS J
		INNER JOIN (SELECT
						idJogador,
						SUM(GolsMarcados) as golsMarcados,
						COUNT (*) as JogosJogados
					FROM Ism_Participacao
					GROUP BY idJogador
		) AS P ON J.IdJogador = P.idJogador
		
		UPDATE T
		SET T.Gols = P.Gols
		FROM @Times AS T
		INNER JOIN (select 
						jog.idTime,
						SUM(GolsMarcados) AS Gols
					from Ism_Participacao part
					inner join Ism_Jogador jog on part.idJogador = jog.idJogador
					group by jog.idTime
		) AS P ON T.IdTime = P.idTime

		UPDATE T
		SET T.FolhaPagamento = Jog.FolhaPagamento
		FROM @Times AS T
		INNER JOIN (select
						idTime,
						sum(Salario) as FolhaPagamento
					from Ism_Jogador
					group by idTime
		) as Jog ON T.IdTime = Jog.idTime

		UPDATE T
		SET T.Aproveitamento = (CAST(J.Pontos AS DECIMAL(10,2))/ (Jogos * 3)) * 100
		FROM @Times AS T
		INNER JOIN (SELECT 
						T.Nome,
						T.idTime,
						SUM(CASE
							WHEN J.idTime1 = T.idTime AND J.Placar1 > J.Placar2  THEN 3
							WHEN J.idTime1 = T.idTime AND J.Placar1 = J.Placar2  THEN 1
							WHEN J.idTime2 = T.idTime AND J.Placar2 > J.Placar1 THEN 3
							WHEN J.idTime2 = T.idTime AND J.Placar2 = J.Placar1 THEN 1 END) AS Pontos,
						COUNT(*) AS Jogos
					FROM Ism_Jogo J
					INNER JOIN Ism_Time T ON J.idTime1 = T.idTime OR J.idtime2 = T.idTime
					GROUP BY T.Nome, T.idTime
		) AS J ON T.IdTime = J.idTime

		SELECT (
			SELECT
				T.IdTime AS [id],
				T.NomeTime AS [nome],
				T.Aproveitamento AS [aproveitamento],
				T.FolhaPagamento AS [folhaPagamento],
				T.Gols AS [gols],
				(
					SELECT 
						J.IdJogador as [id],
						J.NomeJogador as [nome],
						J.Gols as [gols],
						J.Salario [salario],
						J.Aproveitamento as [aproveitamento]
					FROM @Jogadores J
					WHERE J.IdTime = T.IdTime
					FOR JSON PATH
				) AS [jogadores]
			FROM @Times T
			FOR JSON PATH
		) AS Json

		RETURN 0
	END TRY
	BEGIN CATCH 
		SET @MsgErro = ERROR_MESSAGE()
		RAISERROR(@MsgErro, 16, 1)

		RETURN 1
	END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[stp_Ism_Artilharia_Sel]    Script Date: 12/03/2026 16:21:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- ================================================
-- Autor: Isac Macedo
-- Data criação: 05/02/2026
-- Descrição: Selecionar Registros da Artilharia
-- ================================================



CREATE   PROCEDURE [dbo].[stp_Ism_Artilharia_Sel]
AS
BEGIN
	BEGIN TRY 
		SET NOCOUNT ON
		
		DECLARE @MsgErro VARCHAR(25)

		;WITH GolsPorJogador AS (
		SELECT 
		T.Nome AS NomeTime,
		J.Nome AS NomeJogador, 
		CASE 
		WHEN P.GolsMarcados IS NOT NULL THEN SUM(P.GolsMarcados) 
		WHEN P.GolsMarcados IS NULL THEN 0 END AS GolsMarcados,
		RANK() OVER (PARTITION BY T.idTime ORDER BY SUM(P.GolsMarcados) DESC) AS [RANK]
		FROM Ism_Time T
		INNER JOIN Ism_Jogador J ON T.idTime = J.idTime
		LEFT JOIN Ism_Participacao P ON J.idJogador = P.idJogador
		GROUP BY T.idTime, T.Nome, J.Nome, P.GolsMarcados )
		SELECT 
		NomeTime,
		NomeJogador,
		GolsMarcados
		FROM GolsPorJogador
		WHERE [RANK] = 1;

		RETURN 0
	END TRY
	BEGIN CATCH 
		SET @MsgErro = ERROR_MESSAGE()
		RAISERROR(@MsgErro, 16, 1)

		RETURN 1
	END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[stp_Ism_Autorizacao_Sel]    Script Date: 12/03/2026 16:21:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- ================================================
-- Autor: Isac Macedo
-- Data criação: 25/02/2026
-- Descrição: Selecionar Registros da Tabela Ism_Autorizacao
-- ================================================

CREATE   PROCEDURE [dbo].[stp_Ism_Autorizacao_Sel](
	@Tipo INT = NULL,
	@IdOperador INT = NULL

)
AS
BEGIN
	BEGIN TRY 
		SET NOCOUNT ON
		
		DECLARE @MsgErro VARCHAR(25)

		IF @Tipo = 1 
		BEGIN
			SELECT 
				idOperador,
				Nome
			FROM Ism_Operador
		END

		IF @Tipo = 2 AND @IdOperador IS NOT NULL
		BEGIN
			SELECT 
				AC.idAcao,
				AUT.idAutorizacao,
				ST.Caption AS NomeSt,
				MD.Caption As NomeMd,
				PG.Caption AS NomePag,
				AC.Caption AS NomeAcao
			FROM Ism_Sistema ST
			INNER JOIN Ism_Modulo MD ON ST.idSistema = MD.idSistema
			INNER JOIN Ism_Pagina PG ON MD.idModulo = PG.idModulo
			INNER JOIN Ism_Acao AC ON PG.idPagina = AC.idPagina
			LEFT JOIN Ism_Autorizacao AUT ON AC.idAcao = AUT.idAcao AND aut.idOperador = @IdOperador 
		END


		RETURN 0
	END TRY
	BEGIN CATCH 
		SET @MsgErro = ERROR_MESSAGE()
		RAISERROR(@MsgErro, 16, 1)

		RETURN 1
	END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[stp_Ism_Autorizacao_Upt]    Script Date: 12/03/2026 16:21:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- ================================================
-- Autor: Isac Macedo
-- Data criação: 25/02/2026
-- Descrição: Alterar Registros da Tabela Ism_Autorizacao
-- ================================================

CREATE   PROCEDURE [dbo].[stp_Ism_Autorizacao_Upt](
	@idAcao VARCHAR(MAX) = NULL,
	@IdOperador INT = NULL

)
AS
BEGIN
	BEGIN TRY 
		SET NOCOUNT ON
		
		DECLARE @MsgErro VARCHAR(25)

		DECLARE @AcoesTemp TABLE
		(
			idAcao INT
		);

		INSERT INTO @AcoesTemp (IdAcao)
		SELECT CAST(VALUE AS INT)
		FROM string_split(@idAcao, ',')
		WHERE TRY_CAST(VALUE AS INT) IS NOT NULL

		DELETE AUT FROM Ism_Autorizacao AUT
		WHERE AUT.idOperador = @IdOperador 
		AND AUT.idAcao NOT IN (SELECT idAcao FROM @AcoesTemp)

		INSERT INTO Ism_Autorizacao (idOperador, idAcao)
		SELECT 
			@IdOperador, 
			ACT.idAcao
		FROM @AcoesTemp ACT
		WHERE NOT EXISTS
		(	
			SELECT 1 
			FROM Ism_Autorizacao A
			WHERE A.idOperador = @IdOperador AND ACT.idAcao = A.idAcao
		);

		RETURN 0
	END TRY
	BEGIN CATCH 
		SET @MsgErro = ERROR_MESSAGE()
		RAISERROR(@MsgErro, 16, 1)

		RETURN 1
	END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[stp_Ism_AuxTema_Upt]    Script Date: 12/03/2026 16:21:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- ================================================
-- Autor: Isac Macedo
-- Data criação: 25/02/2026
-- Descrição: Muda o tema do Operador no banco
-- ================================================

CREATE   PROCEDURE [dbo].[stp_Ism_AuxTema_Upt](
	@IdOperador INT = NULL,
	@Tema BIT = NULL

)
AS
BEGIN
	BEGIN TRY 
		SET NOCOUNT ON
		
		DECLARE @MsgErro VARCHAR(25)

		IF @IdOperador IS NULL RAISERROR('Operação cancelada. Operador não informado', 16, 1)

		IF @Tema IS NULL RAISERROR('Operação cancelada. Tema não informado', 16, 1)


		UPDATE Ism_Operador 
		SET Tema = @Tema
		WHERE idOperador = @IdOperador

		RETURN 0
	END TRY
	BEGIN CATCH 
		SET @MsgErro = ERROR_MESSAGE()
		RAISERROR(@MsgErro, 16, 1)

		RETURN 1
	END CATCH
END


GO
/****** Object:  StoredProcedure [dbo].[stp_Ism_Classificacao_Sel]    Script Date: 12/03/2026 16:21:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[stp_Ism_Classificacao_Sel]
AS
BEGIN
	BEGIN TRY 
		SET NOCOUNT ON
		
		DECLARE @MsgErro VARCHAR(25)

		SELECT 
		T.Nome,
		SUM(CASE
			WHEN J.idTime1 = T.idTime AND J.Placar1 > J.Placar2  THEN 3
			WHEN J.idTime1 = T.idTime AND J.Placar1 = J.Placar2  THEN 1
			WHEN J.idTime2 = T.idTime AND J.Placar2 > J.Placar1 THEN 3
			WHEN J.idTime2 = T.idTime AND J.Placar2 = J.Placar1 THEN 1 END) AS Pontos,
		SUM(CASE 
			WHEN J.idTime1 = T.idTime THEN J.Placar1 - J.Placar2
			WHEN J.idTime2 = T.idTime THEN J.Placar2 - J.Placar1 END) 
		AS [SaldodeGols],
		SUM(CASE 
			WHEN J.idTime1 = T.idTime THEN J.Placar1 
			WHEN J.idTime2 = T.idTime THEN J.Placar2 END) 
		AS [GolsMarcados]
		FROM Ism_Jogo J
		INNER JOIN Ism_Time T ON J.idTime1 = T.idTime OR J.idtime2 = T.idTime
		GROUP BY T.Nome
		ORDER BY RANK() OVER(ORDER BY
		SUM(CASE
			WHEN J.idTime1 = T.idTime AND J.Placar1 > J.Placar2  THEN 3
			WHEN J.idTime1 = T.idTime AND J.Placar1 = J.Placar2  THEN 1
			WHEN J.idTime2 = T.idTime AND J.Placar2 > J.Placar1 THEN 3
			WHEN J.idTime2 = T.idTime AND J.Placar2 = J.Placar1 THEN 1 END),
		SUM(CASE 
			WHEN J.idTime1 = T.idTime THEN J.Placar1 - J.Placar2
			WHEN J.idTime2 = T.idTime THEN J.Placar2 - J.Placar1 END),
		SUM(CASE 
			WHEN J.idTime1 = T.idTime THEN J.Placar1 
			WHEN J.idTime2 = T.idTime THEN J.Placar2 END) DESC) DESC

		RETURN 0
	END TRY
	BEGIN CATCH 
		SET @MsgErro = ERROR_MESSAGE()
		RAISERROR(@MsgErro, 16, 1)

		RETURN 1
	END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[stp_Ism_Jogador_Del]    Script Date: 12/03/2026 16:21:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- ===============================================
-- Autor: Isac Macedo
-- Data criação: 05/02/2026
-- Descrição: Exclui Registros da Tabela Ism_Jogador
-- ===============================================


CREATE   PROCEDURE [dbo].[stp_Ism_Jogador_Del](
	@idJogador INT = NULL,
	@idTime INT = NULL,
	@Nome VARCHAR(50) = NULL,
	@Salario MONEY = NULL,
	@Tipo int = null
)
AS
BEGIN
	BEGIN TRY
		SET NOCOUNT ON

		DECLARE @MsgErro VARCHAR(255), @Erro BIT

		IF @idJogador IS NULL
		BEGIN 
			RAISERROR('Informe o ID do Jogador a ser removido dos registros', 16, 1)
		END

		IF NOT EXISTS (
			SELECT idJogador
			FROM Ism_Jogador
			WHERE idJogador = @idJogador
		)
		BEGIN
			RAISERROR('Operação Cancelada. Não foi possivel identificar o Jogador informado pelo ID %d', 16, 1, @idJogador)
		END

		DELETE Ism_Jogador
		WHERE idJogador = @idJogador

		RETURN 0 
	END TRY
	BEGIN CATCH
		SET @MsgErro = ERROR_MESSAGE()
		RAISERROR(@MsgErro, 16, 1)
	END CATCH
END

GO
/****** Object:  StoredProcedure [dbo].[stp_Ism_Jogador_Ins]    Script Date: 12/03/2026 16:21:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- ============================================
-- Autor: Isac Macedo
-- Data criação: 05/02/2026
-- Descrição: Inserir Registros da Tabela Ism_Jogador
-- ============================================

CREATE   PROCEDURE [dbo].[stp_Ism_Jogador_Ins] (
	@idJogador INT = NULL,
	@idTime INT = NULL,
	@Nome VARCHAR(50) = NULL,
	@Salario MONEY = NULL, 
	@Tipo INT = NULL
)
AS
BEGIN
	BEGIN TRY
		SET NOCOUNT ON
	
		DECLARE @MsgErro VARCHAR(255), @Erro BIT

		IF @Salario IS NULL
		BEGIN
			RAISERROR(50001,10, 1, 'salario', 'O salario não pode ser vazio!')
		END

		IF @idTime IS NULL
		BEGIN
			RAISERROR(50001, 10, 1, 'idtime', 'Selecione o time do Jogador')
			SET @Erro = 1
		END

		IF NULLIF(TRIM(@Nome), '') IS NULL
		BEGIN
			RAISERROR(50001, 10, 1, 'nome', 'O nome do jogador não pode estar vazio')
			SET @Erro = 1
		END
		
		IF ISNUMERIC(@Nome) = 1
		BEGIN
			RAISERROR(50001, 10, 1, 'nome', 'O nome do time não pode ser numérico')
			SET @Erro = 1
		END

		IF LEN(@Nome) < 3
		BEGIN
			RAISERROR(50001, 10, 1, 'nome', 'O nome do time ter menos que 3 caracteres')
			SET @Erro = 1
		END

		IF @Salario < 0
		BEGIN
			RAISERROR(50001, 10, 1, 'salario', 'O salario nao pode ser menor que  0')
			SET @Erro = 1
		END

		IF @Erro = 1 RETURN 1

		IF EXISTS (
			SELECT * 
			FROM Ism_Jogador
			WHERE idTime = @idTime AND Nome = @Nome
		)
		BEGIN 
			RAISERROR('Operação cancelada. Ja existe um jogador no time do id %d já cadastrado com o nome %s', 16, 1, @idTime, @Nome)
		END

		INSERT Ism_Jogador (idTime, Nome, Salario)
		VALUES (@idTime, @Nome, @Salario)
	
		RETURN 0
	END TRY
	BEGIN CATCH

		SET @MsgErro = ERROR_MESSAGE()
		RAISERROR(@MsgErro, 16, 1)
		RETURN 1 

	END CATCH
END


GO
/****** Object:  StoredProcedure [dbo].[stp_Ism_Jogador_Sel]    Script Date: 12/03/2026 16:21:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- ===============================================
-- Autor: Isac Macedo
-- Data criação: 05/02/2026
-- Descrição: Selecionar Registros da Tabela Ism_Jogador
-- ===============================================

CREATE   PROCEDURE [dbo].[stp_Ism_Jogador_Sel](
	@Tipo INT = NULL,
	@IdJogador INT = NULL,
	@IdTime INT = NULL
)
AS
BEGIN
	BEGIN TRY 
		SET NOCOUNT ON
		
		DECLARE @MsgErro VARCHAR(25)

		IF @Tipo = 1
		BEGIN
		SELECT 
			idJogador,
			IJ.idTime,
			IT.Nome AS NomeTime,
			IJ.Nome,
			IJ.Salario,
			IJ.Capitao,
			IJ.Tecnico,
			IJ.Suspenso
		FROM Ism_Jogador IJ
		INNER JOIN Ism_Time IT ON IT.idTime = IJ.idTime
		WHERE (@IdJogador IS NULL OR idJogador = @IdJogador)
				AND (@IdTime IS NULL OR ij.idTime = @IdTime)
		END

		IF @Tipo = 2
		BEGIN
		SELECT 
			idTime,
			Nome
			FROM Ism_Time
		END


		RETURN 0
	END TRY
	BEGIN CATCH 
		SET @MsgErro = ERROR_MESSAGE()
		RAISERROR(@MsgErro, 16, 1)

		RETURN 1
	END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[stp_Ism_Jogador_Upt]    Script Date: 12/03/2026 16:21:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- ============================================
-- Autor: Isac Macedo
-- Data criação: 05/02/2026
-- Descrição: Alterar Registros da Tabela Ism_Jogador
-- ============================================


CREATE   PROCEDURE [dbo].[stp_Ism_Jogador_Upt] (
    @Tipo        INT  = NULL,
    @IdJogador   INT  = NULL,
    @IdTime      INT  = NULL,
    @Nome        VARCHAR(50) = NULL,
    @Salario     MONEY = NULL,
    @IdCapitao   INT  = NULL,
    @IdTecnico   INT  = NULL,
    @IdsSuspensos VARCHAR(MAX) = NULL
)
AS
BEGIN
    BEGIN TRY
        SET NOCOUNT ON
        DECLARE @MsgErro VARCHAR(255), @Erro BIT

        -- ===========================
        -- Tipo 1: Update individual
        -- ===========================
        IF @Tipo = 1
        BEGIN
            IF @Salario IS NULL
            BEGIN
                RAISERROR(50001, 10, 1, 'salario', 'O salario não pode ser vazio!')
                SET @Erro = 1
            END
            IF @IdTime IS NULL
            BEGIN
                RAISERROR(50001, 10, 1, 'idtime', 'Selecione o time do Jogador')
                SET @Erro = 1
            END
            IF NULLIF(TRIM(@Nome), '') IS NULL
            BEGIN
                RAISERROR(50001, 10, 1, 'nome', 'O nome do jogador não pode estar vazio')
                SET @Erro = 1
            END
            IF ISNUMERIC(@Nome) = 1
            BEGIN
                RAISERROR(50001, 10, 1, 'nome', 'O nome do time não pode ser numérico')
                SET @Erro = 1
            END
            IF LEN(@Nome) < 3
            BEGIN
                RAISERROR(50001, 10, 1, 'nome', 'O nome do time ter menos que 3 caracteres')
                SET @Erro = 1
            END
            IF @Salario < 0
            BEGIN
                RAISERROR(50001, 10, 1, 'salario', 'O salario nao pode ser menor que 0')
                SET @Erro = 1
            END
            IF @Erro = 1 RETURN 1

            IF NOT EXISTS (SELECT IdTime FROM Ism_Time WHERE IdTime = @IdTime)
            BEGIN
                RAISERROR('Esse ID de time não existe', 16, 1)
            END
            IF NOT EXISTS (SELECT IdJogador FROM Ism_Jogador WHERE IdJogador = @IdJogador)
            BEGIN
                RAISERROR('Operação cancelada. Não foi possivel identificar o Jogador informado pelo ID %d', 16, 1, @IdJogador)
            END
            IF EXISTS (
                SELECT Nome FROM Ism_Jogador
                WHERE Nome = @Nome AND IdTime = @IdTime AND IdJogador != @IdJogador
            )
            BEGIN
                RAISERROR('Operação cancelada. Ja existe um jogador com o Nome %s no Time de ID %d', 16, 1, @Nome, @IdJogador)
            END

            UPDATE Ism_Jogador SET
                IdTime  = @IdTime,
                Nome    = @Nome,
                Salario = @Salario
            WHERE IdJogador = @IdJogador
        END

        -- ===========================
        -- Tipo 2: Update EditAll
        -- ===========================
        IF @Tipo = 2
        BEGIN
            IF @IdTime IS NULL
            BEGIN
                RAISERROR('Selecione um time', 16, 1)
            END

            IF NOT EXISTS (SELECT IdTime FROM Ism_Time WHERE IdTime = @IdTime)
            BEGIN
                RAISERROR('Esse ID de time não existe', 16, 1)
            END

            IF NOT EXISTS 
            (SELECT 
                IdJogador 
                FROM Ism_Jogador 
                WHERE IdJogador = @IdCapitao OR idJogador = @IdTecnico)
            BEGIN
                RAISERROR('Operação cancelada. Não foi possivel identificar  o id do tecnico e capitao', 16, 1, @IdJogador)
            END

             IF EXISTS (
                SELECT 1 FROM Ism_Jogador 
                WHERE IdJogador = @IdCapitao AND IdJogador = @IdTecnico
            )
            BEGIN
                RAISERROR('O capitão e o técnico não podem ser o mesmo jogador', 16, 1)
            END

            BEGIN TRANSACTION
            UPDATE Ism_Jogador SET
                Capitao  = 0,
                Tecnico  = 0,
                Suspenso = 0
            WHERE IdTime = @IdTime

            -- Aplica capitao
            IF @IdCapitao IS NOT NULL
                UPDATE Ism_Jogador SET Capitao = 1 WHERE IdJogador = @IdCapitao

            -- Aplica tecnico
            IF @IdTecnico IS NOT NULL
                UPDATE Ism_Jogador SET Tecnico = 1 WHERE IdJogador = @IdTecnico

            -- Aplica suspensos
            IF NULLIF(TRIM(@IdsSuspensos), '') IS NOT NULL
                UPDATE Ism_Jogador SET Suspenso = 1
                WHERE IdJogador IN (
                    SELECT value FROM STRING_SPLIT(@IdsSuspensos, ',')
                )

            COMMIT TRANSACTION
        END

        RETURN 0
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0 ROLLBACK

        SET @MsgErro = ERROR_MESSAGE()
        RAISERROR(@MsgErro, 16, 1)
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[stp_Ism_Jogo_Del]    Script Date: 12/03/2026 16:21:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- ===============================================
-- Autor: Isac Macedo
-- Data criação: 05/02/2026
-- Descrição: Exclui Registros da Tabela Ism_Jogo
-- ===============================================

CREATE   PROCEDURE [dbo].[stp_Ism_Jogo_Del] (
	@idJogo INT = NULL,
	@idTime1 INT = NULL,
	@idTime2 INT = NULL,
	@DataHoraInicio datetime = NULL,
	@DataHoraFinal datetime = NULL,
	@CaminhoArq VARCHAR(100) = NULL,
	@Tipo INT = NULL
	
)
AS
BEGIN
	BEGIN TRY
		SET NOCOUNT ON

		DECLARE @MsgErro VARCHAR(255)

		IF @idJogo IS NULL
		BEGIN 
			RAISERROR('Informe o ID do Jogo a ser excluido', 16, 1)
		END

		IF NOT EXISTS (
			SELECT idJogo
			FROM Ism_Jogo
			WHERE idJogo = @idJogo
		)
		BEGIN
			RAISERROR('Operação Cancelada. Não foi possivel identificar o jogo informado pelo ID %d', 16, 1, @idJogo)
		END

		IF EXISTS(
			SELECT IdJogo
			FROM Ism_Jogo
			WHERE IdJogo = @idJogo
			AND Placar1 != 0 AND Placar2 != 0
		)
		BEGIN
			RAISERROR('Operação cancelada. O jogo referente ao ID %d ja foi iniciado', 16, 1, @idJogo)
		END

		DELETE Ism_Jogo
		WHERE idJogo = @IdJogo

		RETURN 0 
	END TRY
	BEGIN CATCH
		SET @MsgErro = ERROR_MESSAGE()
		RAISERROR(@MsgErro, 16, 1)
	END CATCH
END

GO
/****** Object:  StoredProcedure [dbo].[stp_Ism_Jogo_Ins]    Script Date: 12/03/2026 16:21:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ============================================
-- Autor: Isac Macedo
-- Data criação: 05/02/2026
-- Descrição: Inserir Registros da Tabela Ism_Jogo
-- ============================================


CREATE   PROCEDURE [dbo].[stp_Ism_Jogo_Ins] (
	@idJogo INT = NULL,
	@idTime1 INT = NULL,
	@idTime2 INT = NULL,
	@DataHoraInicio datetime = NULL,
	@DataHoraFinal datetime = NULL,
	@CaminhoArq VARCHAR(100) = NULL,
	@Tipo INT = NULL
	
)
AS
BEGIN
	BEGIN TRY
		SET NOCOUNT ON

		DECLARE @MsgErro VARCHAR(255), @Erro BIT

		IF @DataHoraInicio IS NULL
		BEGIN
			RAISERROR(50001, 10, 1, 'dataInicio', 'Informe a data de início do jogo')
			RAISERROR(50001, 10, 1, 'horaInicio', 'Informe a hora de início do jogo')
			SET @Erro = 1
		END

		IF @DataHoraFinal IS NULL
		BEGIN
			RAISERROR(50001, 10, 1, 'dataFinal', 'Informe a data final do jogo')
			RAISERROR(50001, 10, 1, 'horaFinal', 'Informe a hora final do jogo')
			SET @Erro = 1
		END

		IF @idTime1 IS NULL  
		BEGIN                                   
			RAISERROR(50001, 10, 1, 'idtime1', 'Selecione um time!')
			SET @Erro = 1
		END                                                      
		
		IF @idTime2 IS NULL 
		BEGIN                                   
			RAISERROR(50001, 10, 1, 'idtime2', 'Selecione um time!')
			SET @Erro = 1
		END 
		
		IF @idTime1 = @idTime2
		BEGIN
			RAISERROR(50001, 10, 1, 'idtime1', 'Os dois times que irão jogar devem ser diferentes')
			RAISERROR(50001, 10, 1, 'idtime2', 'Os dois times que irão jogar devem ser diferentes')
			SET @Erro = 1
		END

		IF @DataHoraInicio IS NOT NULL AND @DataHoraFinal IS NOT NULL
		BEGIN
			IF @DataHoraFinal <= @DataHoraInicio
			BEGIN
				RAISERROR(50001, 10, 1, 'dataInicio', 'A data de início não pode ser maior ou igual à data final')
				RAISERROR(50001, 10, 1, 'dataFinal', 'A data final deve ser posterior à data de início')
				RAISERROR(50001, 10, 1, 'horaInicio', 'A hora de início não pode ser igual ou maior que a hora final')
				RAISERROR(50001, 10, 1, 'horaFinal', 'A hora final deve ser posterior à hora de início')
				SET @Erro = 1
			END
		END

		IF @Erro = 1 RETURN 1
		

		IF NOT EXISTS (
			SELECT idTime
			FROM Ism_Time
			WHERE idTime = @idTime1
		)
		BEGIN
			RAISERROR('Operação cancelada. Não foi possivel identificar o Time informado pelo ID %d', 16, 1, @idTime1)
		END


		IF NOT EXISTS (
			SELECT 1
			FROM Ism_Time
			WHERE idTime = @idTime2
		)
		BEGIN
			RAISERROR('Operação cancelada. Não foi possivel identificar o Time informado pelo ID %d', 16, 1, @idTime2)
		END

			INSERT Ism_Jogo (idTime1, idTime2, DataInicio, DataFinal)
			VALUES (@idTime1, @idTime2, @DataHoraInicio, @DataHoraFinal)
		RETURN 0
	END TRY
	BEGIN CATCH
		SET @MsgErro = ERROR_MESSAGE()
		RAISERROR(@MsgErro, 16, 1)
		RETURN 1
	END CATCH
END


GO
/****** Object:  StoredProcedure [dbo].[stp_Ism_Jogo_Sel]    Script Date: 12/03/2026 16:21:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- ================================================
-- Autor: Isac Macedo
-- Data criação: 05/02/2026
-- Descrição: Selecionar Registros da Tabela Ism_Jogo
-- ================================================



CREATE   PROCEDURE [dbo].[stp_Ism_Jogo_Sel](
	@Tipo INT = NULL,
	@idJogo INT = NULL
)
AS
BEGIN
	BEGIN TRY 
		SET NOCOUNT ON
		
		DECLARE @MsgErro VARCHAR(25)


		IF @Tipo = 1
		BEGIN
			SELECT 
				IJ.idJogo,
				IJ.idTime1,
				IT1.Nome AS NomeTime1,
				IJ.idTime2,
				IT2.Nome AS NomeTime2,
				IJ.Placar1,
				IJ.Placar2,
				CONVERT(VARCHAR, DataInicio, 23) AS DataInicio,
				CONVERT(VARCHAR, DataInicio, 108) AS HoraInicio,
				CONVERT(VARCHAR, DataFinal, 23) AS DataFinal,
				CONVERT(VARCHAR, DataFinal, 108) AS HoraFinal,
				IJ.CaminhoArq
			FROM Ism_Jogo IJ
			INNER JOIN Ism_Time IT1 ON IT1.idTime = IJ.idTime1
			INNER JOIN Ism_Time IT2 ON IT2.idTime = IJ.idTime2
			WHERE idJogo = @idJogo OR @idJogo IS NULL
		END

		IF @Tipo = 2
		BEGIN
			SELECT *
			FROM 
			Ism_Time
		END

		RETURN 0
	END TRY
	BEGIN CATCH 
		SET @MsgErro = ERROR_MESSAGE()
		RAISERROR(@MsgErro, 16, 1)

		RETURN 1
	END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[stp_Ism_Jogo_Upt]    Script Date: 12/03/2026 16:21:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- ===============================================
-- Autor: Isac Macedo
-- Data criação: 05/02/2026
-- Descrição: Altera Registros da Tabela Ism_Jogo
-- ===============================================

CREATE   PROCEDURE [dbo].[stp_Ism_Jogo_Upt] (
	@idJogo INT = NULL,
	@idTime1 INT = NULL,
	@idTime2 INT = NULL,
	@DataHoraInicio datetime = NULL,
	@DataHoraFinal datetime = NULL,
	@CaminhoArq VARCHAR(100) = NULL,
	@Tipo INT = NULL
)
AS
BEGIN
	BEGIN TRY
		SET NOCOUNT ON 

		DECLARE @MsgErro VARCHAR(255), @Erro BIT

		IF @Tipo = 1
		BEGIN
			IF @DataHoraInicio IS NULL
			BEGIN
				RAISERROR(50001, 10, 1, 'dataInicio', 'Informe a data de início do jogo')
				RAISERROR(50001, 10, 1, 'horaInicio', 'Informe a hora de início do jogo')
				SET @Erro = 1
			END

			IF @DataHoraFinal IS NULL
			BEGIN
				RAISERROR(50001, 10, 1, 'dataFinal', 'Informe a data final do jogo')
				RAISERROR(50001, 10, 1, 'horaFinal', 'Informe a hora final do jogo')
				SET @Erro = 1
			END

			IF @idTime1 IS NULL 
			BEGIN 
				RAISERROR(50001, 10, 1, 'idtime1', 'Selecione um time!')
				SET @Erro = 1
			END

			IF @idTime2 IS NULL
			BEGIN 
				RAISERROR(50001, 10, 1, 'idtime2', 'Selecione um time!')
				SET @Erro = 1
			END

			IF @idTime1 = @idTime2
			BEGIN
				RAISERROR(50001, 10, 1, 'idtime1', 'Os dois times que irão jogar devem ser diferentes')
				RAISERROR(50001, 10, 1, 'idtime2', 'Os dois times que irão jogar devem ser diferentes')
				SET @Erro = 1
			END

			IF @DataHoraInicio IS NOT NULL AND @DataHoraFinal IS NOT NULL
			BEGIN
				IF @DataHoraFinal <= @DataHoraInicio
				BEGIN
					RAISERROR(50001, 10, 1, 'dataInicio', 'A data de início não pode ser maior ou igual à data final')
					RAISERROR(50001, 10, 1, 'dataFinal', 'A data final deve ser posterior à data de início')
					RAISERROR(50001, 10, 1, 'horaInicio', 'A hora de início não pode ser igual ou maior que a hora final')
					RAISERROR(50001, 10, 1, 'horaFinal', 'A hora final deve ser posterior à hora de início')
					SET @Erro = 1
				END
			END

			IF @Erro = 1 RETURN 1

			IF @idJogo IS NULL
			BEGIN 
				RAISERROR('Informe o ID do Jogo', 16, 1)
			END

			IF NOT EXISTS (
				SELECT idJogo
				FROM Ism_Jogo
				WHERE idJogo = @idJogo
			)
			BEGIN
				RAISERROR('Operação cancelada. Não foi possivel identificar o Jogo informado pelo ID %d', 16, 1, @idJogo)
			END

			IF NOT EXISTS (
				SELECT 1
				FROM Ism_Time
				WHERE idTime = @idTime1
			)
			BEGIN
				RAISERROR('Operação cancelada. Não foi possivel identificar o Time informado pelo ID %d', 16, 1, @idTime1)
			END


			IF NOT EXISTS (
				SELECT 1
				FROM Ism_Time
				WHERE idTime = @idTime2
			)
			BEGIN
				RAISERROR('Operação cancelada. Não foi possivel identificar o Time informado pelo ID %d', 16, 1, @idTime2)
			END


			IF EXISTS(
				SELECT IdJogo
				FROM Ism_Jogo
				WHERE IdJogo = @idJogo
				AND Placar1 != 0 AND Placar2 != 0
			)
			BEGIN
				RAISERROR('Operação cancelada. O jogo referente ao ID %d ja foi iniciado', 16, 1, @idJogo)
			END

		

		
			UPDATE Ism_Jogo SET
				idTime1 = @idTime1,
				idTime2 = @idTime2,
				DataInicio = @DataHoraInicio,
				DataFinal = @DataHoraFinal
			WHERE idJogo = @idJogo
		END




		IF @Tipo = 2 
		BEGIN
			IF @CaminhoArq IS NULL
			BEGIN
				RAISERROR('Operação cancelada. O caminho do arquivo veio nulo', 16, 1)
			END

			SELECT 
			@DataHoraFinal = DataFinal
			FROM Ism_Jogo
			WHERE idJogo = @idJogo

			IF @DataHoraFinal > GETDATE()
			BEGIN
				RAISERROR('Operação cancelada. O Jogo não terminou, nenhuma sumula pode ser adicionada', 16, 1)
			END



			UPDATE Ism_Jogo 
			SET CaminhoArq = @CaminhoArq
			WHERE idJogo = @idJogo
			
		END

		IF @Tipo = 3 
		BEGIN
			UPDATE Ism_Jogo 
			SET CaminhoArq = NULL
			WHERE idJogo = @idJogo
		END

		RETURN 0
	END TRY
	BEGIN CATCH
		SET @MsgErro = ERROR_MESSAGE()
		RAISERROR(@MsgErro, 16, 1)
	END CATCH
END
		
GO
/****** Object:  StoredProcedure [dbo].[stp_Ism_Modulo_Del]    Script Date: 12/03/2026 16:21:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- ===============================================
-- Autor: Isac Macedo
-- Data criação: 23/02/2026
-- Descrição: Exclui Registros da Tabela Ism_Modulo
-- ===============================================


CREATE   PROCEDURE [dbo].[stp_Ism_Modulo_Del](
	@IdModulo INT = NULL,
	@IdSistema INT = NULL,
	@Codigo VARCHAR(50) = NULL,
	@Caption VARCHAR(50) = NULL
)
AS
BEGIN
	BEGIN TRY
		SET NOCOUNT ON

		DECLARE @MsgErro VARCHAR(255), @Erro BIT

		IF @IdModulo IS NULL
		BEGIN 
			RAISERROR('Informe o ID do modulo a ser removido dos registros', 16, 1)
		END


		DELETE Ism_Modulo
		WHERE idModulo = @IdModulo


		RETURN 0 
	END TRY
	BEGIN CATCH
		SET @MsgErro = ERROR_MESSAGE()
		RAISERROR(@MsgErro, 16, 1)
	END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[stp_Ism_Modulo_Ins]    Script Date: 12/03/2026 16:21:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ================================================
-- Autor: Isac Macedo
-- Data criação: 23/02/2026
-- Descrição: Inserir Registros da Tabela Ism_Modulo
-- ================================================


CREATE   PROCEDURE [dbo].[stp_Ism_Modulo_Ins](
	@idModulo INT = NULL,
	@idSistema INT = NULL,
	@Codigo VARCHAR(50) = NULL,
	@Caption VARCHAR(50) = NULL
)
AS
BEGIN
	BEGIN TRY 
		SET NOCOUNT ON
		
		DECLARE @MsgErro VARCHAR(255), @Erro BIT

		IF @idSistema IS NULL
		BEGIN                                   
			RAISERROR(50001, 10, 1, 'idSistema', 'Selecione um sistema!')
			SET @Erro = 1
		END

			IF NULLIF(TRIM(@Codigo), '') IS NULL
		BEGIN
			RAISERROR(50001, 10, 1, 'codigo', 'O codigo do modulo não pode estar vazio')
			SET @Erro = 1
		END

		IF ISNUMERIC(@Codigo) = 1
		BEGIN
			RAISERROR(50001, 10, 1, 'codigo', 'O codigo do modulo não pode ser numérico')
			SET @Erro = 1
		END

		IF LEN(@Codigo) < 3
		BEGIN
			RAISERROR(50001, 10, 1, 'codigo', 'O codigo do modulo não pode ter menos que 3 caracteres')
			SET @Erro = 1
		END

		IF NULLIF(TRIM(@Caption), '') IS NULL
		BEGIN
			RAISERROR(50001, 10, 1, 'caption', 'O caption do modulo não pode estar vazio')
			SET @Erro = 1
		END

		IF ISNUMERIC(@Caption) = 1
		BEGIN
			RAISERROR(50001, 10, 1, 'caption', 'O caption do modulo não pode ser numérico')
			SET @Erro = 1
		END

		IF LEN(@Caption) < 3
		BEGIN
			RAISERROR(50001, 10, 1, 'caption', 'O caption do modulo não pode ter menos que 3 caracteres')
			SET @Erro = 1
		END

		IF @Erro = 1 RETURN 1

		IF EXISTS (
			SELECT *
			FROM
			Ism_Modulo
			WHERE Caption = @Caption OR Codigo = @Codigo AND idSistema = @idSistema
		)
		BEGIN
			RAISERROR('Operação cancelada. Ja existe um modulo com informações iguais cadastrado', 16, 1)
		END

		INSERT INTO Ism_Modulo(idSistema, Codigo, Caption)
		VALUES (@idSistema, @Codigo, @Caption)

		RETURN 0
	END TRY
	BEGIN CATCH 
		SET @MsgErro = ERROR_MESSAGE()
		RAISERROR(@MsgErro, 16, 1)

		RETURN 1
	END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[stp_Ism_Modulo_Sel]    Script Date: 12/03/2026 16:21:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- ================================================
-- Autor: Isac Macedo
-- Data criação: 23/02/2026
-- Descrição: Selecionar Registros da Tabela Ism_Modulo
-- ================================================

CREATE   PROCEDURE [dbo].[stp_Ism_Modulo_Sel](
	@Tipo INT = NULL,
	@idModulo INT = NULL
)
AS
BEGIN
	BEGIN TRY 
		SET NOCOUNT ON
		
		DECLARE @MsgErro VARCHAR(25)


		IF @Tipo = 1
		BEGIN
			SELECT
				IM.idModulo,
				IM.idSistema,
				IST.Caption AS NomeSistema,
				IM.Codigo,
				IM.Caption
			FROM Ism_Modulo IM
			INNER JOIN Ism_Sistema IST ON IM.idSistema = IST.idSistema
			WHERE idModulo = @idModulo OR @idModulo IS NULL
		END

		IF @Tipo = 2 
		BEGIN
			SELECT *
			FROM Ism_Sistema
		END
			

		RETURN 0
	END TRY
	BEGIN CATCH 
		SET @MsgErro = ERROR_MESSAGE()
		RAISERROR(@MsgErro, 16, 1)

		RETURN 1
	END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[stp_Ism_Modulo_Upt]    Script Date: 12/03/2026 16:21:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- ================================================
-- Autor: Isac Macedo
-- Data criação: 23/02/2026
-- Descrição: Altera Registros da Tabela Ism_Modulo
-- ================================================


CREATE   PROCEDURE [dbo].[stp_Ism_Modulo_Upt](
	@IdModulo INT = NULL,
	@IdSistema INT = NULL,
	@Codigo VARCHAR(50) = NULL,
	@Caption VARCHAR(50) = NULL
)
AS
BEGIN
	BEGIN TRY 
		SET NOCOUNT ON
		
		DECLARE @MsgErro VARCHAR(255), @Erro BIT

		IF @idSistema IS NULL
		BEGIN                                   
			RAISERROR(50001, 10, 1, 'idSistema', 'Selecione um sistema!')
			SET @Erro = 1
		END

			IF NULLIF(TRIM(@Codigo), '') IS NULL
		BEGIN
			RAISERROR(50001, 10, 1, 'codigo', 'O codigo do modulo não pode estar vazio')
			SET @Erro = 1
		END

		IF ISNUMERIC(@Codigo) = 1
		BEGIN
			RAISERROR(50001, 10, 1, 'codigo', 'O codigo do modulo não pode ser numérico')
			SET @Erro = 1
		END

		IF LEN(@Codigo) < 3
		BEGIN
			RAISERROR(50001, 10, 1, 'codigo', 'O codigo do modulo não pode ter menos que 3 caracteres')
			SET @Erro = 1
		END

		IF NULLIF(TRIM(@Caption), '') IS NULL
		BEGIN
			RAISERROR(50001, 10, 1, 'caption', 'O caption do modulo não pode estar vazio')
			SET @Erro = 1
		END

		IF ISNUMERIC(@Caption) = 1
		BEGIN
			RAISERROR(50001, 10, 1, 'caption', 'O caption do modulo não pode ser numérico')
			SET @Erro = 1
		END

		IF LEN(@Caption) < 3
		BEGIN
			RAISERROR(50001, 10, 1, 'caption', 'O caption do modulo não pode ter menos que 3 caracteres')
			SET @Erro = 1
		END

		IF @Erro = 1 RETURN 1

		IF EXISTS (
			SELECT *
			FROM
			Ism_Modulo
			WHERE Caption = @Caption OR Codigo = @Codigo AND idModulo != @IdModulo AND @IdSistema = idSistema
		)
		BEGIN
			RAISERROR('Operação cancelada. Ja existe um modulo com informações iguais cadastrado', 16, 1)
		END

		UPDATE Ism_Modulo SET
			idSistema = @IdSistema,
			Codigo = @Codigo,
			Caption = @Caption
		WHERE idModulo = @IdModulo


		RETURN 0
	END TRY
	BEGIN CATCH 
		SET @MsgErro = ERROR_MESSAGE()
		RAISERROR(@MsgErro, 16, 1)

		RETURN 1
	END CATCH
END

GO
/****** Object:  StoredProcedure [dbo].[stp_Ism_MontaMenu]    Script Date: 12/03/2026 16:21:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- ===============================================
-- Autor: Isac Macedo
-- Data criação: 27/02/2026
-- Descrição: Procedure para o menu dinamico
-- ===============================================

CREATE   PROCEDURE [dbo].[stp_Ism_MontaMenu] (
	@TipoConsulta VARCHAR(50),
	@IdOperador INT = NULL,
	@CodigoSistema VARCHAR(50) = NULL,
	@CodigoModulo VARCHAR(50) = NULL,
	@CodigoPagina VARCHAR(50) = NULL,
	@CodigoAcao VARCHAR(50) = NULL
)
AS
BEGIN
	BEGIN TRY
		SET NOCOUNT ON 

		DECLARE @MsgErro VARCHAR(255)

		IF @TipoConsulta = 'C_MENU'
		BEGIN
			SELECT 
				S.Codigo AS CodigoSistema,
				S.Caption AS CaptionSistema,
				M.Codigo AS CodigoModulo,
				M.Caption AS CaptionModulo,
				P.Codigo AS CodigoPagina,
				P.Caption AS CaptionPagina
			FROM Ism_Sistema S
			INNER JOIN Ism_Modulo M ON S.idSistema = M.idSistema
			INNER JOIN Ism_Pagina P ON M.idModulo = P.idModulo
			WHERE EXISTS (
				SELECT *
				FROM Ism_Acao A
				INNER JOIN Ism_Autorizacao U ON U.idAcao = A.idAcao AND U.idOperador = @IdOperador
				WHERE P.idPagina = A.idPagina
			)
			order by S.Codigo, M.Codigo, P.idPagina
		END

		IF @TipoConsulta = 'C_Acao'
		BEGIN
			SELECT 
			A.idAcao,
			A.[Procedure] AS NomeProcedure
			FROM Ism_Acao A
			INNER JOIN Ism_Pagina P ON A.idPagina = P.idPagina
			INNER JOIN Ism_Modulo M ON P.idModulo = M.idModulo
			INNER JOIN Ism_Sistema S ON M.idSistema = S.idSistema
			INNER JOIN Ism_Autorizacao AU ON A.idAcao = AU.idAcao AND AU.idOperador = @IdOperador
			WHERE S.Codigo = @CodigoSistema
				AND M.Codigo = @CodigoModulo
				AND P.Codigo = @CodigoPagina
				AND A.Codigo = @CodigoAcao
		END

		IF @TipoConsulta = 'C_Botao'
		BEGIN
			SELECT 
				A.idAcao,
				A.Codigo,
				A.Caption
			FROM Ism_Acao A
			INNER JOIN Ism_Pagina P ON A.idPagina = P.idPagina
			INNER JOIN Ism_Modulo M ON P.idModulo = M.idModulo
			INNER JOIN Ism_Sistema S ON M.idSistema = S.idSistema
			INNER JOIN Ism_Autorizacao AU ON A.idAcao = AU.idAcao AND AU.idOperador = @IdOperador
			WHERE S.Codigo = @CodigoSistema
				AND M.Codigo = @CodigoModulo
				AND P.Codigo = @CodigoPagina
		END

		RETURN 0
	END TRY
	BEGIN CATCH
		SET @MsgErro = ERROR_MESSAGE()
		RAISERROR(@MsgErro, 16, 1)
	END CATCH
END
		


GO
/****** Object:  StoredProcedure [dbo].[stp_Ism_Operador_Del]    Script Date: 12/03/2026 16:21:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- ================================================
-- Autor: Isac Macedo
-- Data criação: 25/02/2026
-- Descrição: Deleta Registros da Tabela Ism_Operador
-- ================================================

CREATE   PROCEDURE [dbo].[stp_Ism_Operador_Del](
	@idOperador INT = NULL,
	@CPF VARCHAR(11) = NULL,
	@NOME VARCHAR(50) = NULL,
	@SENHA VARCHAR(50) = NULL
)
AS
BEGIN
	BEGIN TRY 
		SET NOCOUNT ON
		
		DECLARE @MsgErro VARCHAR(25)

		IF @idOperador IS NULL
		BEGIN
			RAISERROR('Operação cancelada. Selecione um operador a excluir', 16, 1)
		END

		DELETE Ism_Operador
		WHERE idOperador = @idOperador

		RETURN 0
	END TRY
	BEGIN CATCH 
		SET @MsgErro = ERROR_MESSAGE()
		RAISERROR(@MsgErro, 16, 1)

		RETURN 1
	END CATCH
END



GO
/****** Object:  StoredProcedure [dbo].[stp_Ism_Operador_Ins]    Script Date: 12/03/2026 16:21:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ================================================
-- Autor: Isac Macedo
-- Data criação: 25/02/2026
-- Descrição: Inserir Registros da Tabela Ism_Operador
-- ================================================


CREATE   PROCEDURE [dbo].[stp_Ism_Operador_Ins](
	@idOperador INT = NULL,
	@CPF VARCHAR(11) = NULL,
	@NOME VARCHAR(50) = NULL,
	@SENHA VARCHAR(50) = NULL
)
AS
BEGIN
	BEGIN TRY 
		SET NOCOUNT ON
		
		DECLARE @MsgErro VARCHAR(255), @Erro BIT

			IF NULLIF(TRIM(@CPF), '') IS NULL
		BEGIN
			RAISERROR(50001, 10, 1, 'cpf', 'O campo CPF não pode estar vazio')
			SET @Erro = 1
		END

		IF @CPF LIKE '%[A-Za-z]%'
		BEGIN
			RAISERROR(50001, 10, 1, 'cpf', 'O campo CPF não pode conter letras!')
			SET @Erro = 1
		END

		IF LEN(@CPF) < 11
		BEGIN
			RAISERROR(50001, 10, 1, 'cpf', 'O campo CPF não pode conter menos que 11 caracteres')
			SET @Erro = 1
		END

		IF LEN(@CPF) > 11
		BEGIN
			RAISERROR(50001, 10, 1, 'cpf', 'O campo CPF não pode conter mais que 11 caracteres')
			SET @Erro = 1
		END

		IF NULLIF(TRIM(@NOME), '') IS NULL
		BEGIN
			RAISERROR(50001, 10, 1, 'nome', 'O campo Nome não pode estar vazio')
			SET @Erro = 1
		END

		IF ISNUMERIC(@NOME) = 1
		BEGIN
			RAISERROR(50001, 10, 1, 'nome', 'O campo Nome não pode conter números!')
			SET @Erro = 1
		END

		IF LEN(@NOME) < 3
		BEGIN
			RAISERROR(50001, 10, 1, 'nome', 'O campo Nome não pode ter menos que 3 caracteres')
			SET @Erro = 1
		END

		IF NULLIF(TRIM(@SENHA), '') IS NULL
		BEGIN
			RAISERROR(50001, 10, 1, 'senha', 'A senha não pode ser vazia!')
			SET @Erro = 1
		END

		IF @SENHA NOT LIKE '%[0-9]%'
		BEGIN
			RAISERROR(50001, 10, 1, 'senha', 'A senha deve contem pelo menos um número')
			SET @Erro = 1
		END


		IF @SENHA NOT LIKE '%[A-Z]%'
		BEGIN
			RAISERROR(50001, 10, 1, 'senha', 'A senha deve conter pelo menos uma letra maiuscula')
			SET @Erro = 1
		END

		IF @SENHA NOT LIKE '%[a-z]%'
		BEGIN
			RAISERROR(50001, 10, 1, 'senha', 'A senha deve conter pelo menos uma letra minuscula')
			SET @Erro = 1
		END

		IF LEN(@SENHA) < 6
		BEGIN
			RAISERROR(50001, 10, 1, 'senha', 'O senha não pode ter menos que 6 caracteres')
			SET @Erro = 1
		END

		IF @Erro = 1 RETURN 1

		IF EXISTS (
			SELECT *
			FROM
			Ism_Operador
			WHERE Cpf = @CPF
		)
		BEGIN
			RAISERROR('Operação cancelada. Ja existe um Operador com esse CPF cadastrado!', 16, 1)
		END

		INSERT INTO Ism_Operador (Cpf, Nome, Senha)
		VALUES (@CPF, @NOME, @SENHA)

		RETURN 0
	END TRY
	BEGIN CATCH 
		SET @MsgErro = ERROR_MESSAGE()
		RAISERROR(@MsgErro, 16, 1)

		RETURN 1
	END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[stp_Ism_Operador_Sel]    Script Date: 12/03/2026 16:21:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- ================================================
-- Autor: Isac Macedo
-- Data criação: 25/02/2026
-- Descrição: Selecionar Registros da Tabela Ism_Operador
-- ================================================

CREATE   PROCEDURE [dbo].[stp_Ism_Operador_Sel](
	@IdOperador INT = NULL
)
AS
BEGIN
	BEGIN TRY 
		SET NOCOUNT ON
		
		DECLARE @MsgErro VARCHAR(25)

		SELECT
			idOperador,
			Cpf,
			Nome,
			Senha
		FROM Ism_Operador IOP
		WHERE idOperador = @IdOperador OR @IdOperador is null

		RETURN 0
	END TRY
	BEGIN CATCH 
		SET @MsgErro = ERROR_MESSAGE()
		RAISERROR(@MsgErro, 16, 1)

		RETURN 1
	END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[stp_Ism_Operador_Upt]    Script Date: 12/03/2026 16:21:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- ================================================
-- Autor: Isac Macedo
-- Data criação: 25/02/2026
-- Descrição: Altera Registros da Tabela Ism_Operador
-- ================================================


CREATE   PROCEDURE [dbo].[stp_Ism_Operador_Upt](
	@idOperador INT = NULL,
	@CPF VARCHAR(11) = NULL,
	@NOME VARCHAR(50) = NULL,
	@SENHA VARCHAR(50) = NULL
)
AS
BEGIN
	BEGIN TRY 
		SET NOCOUNT ON
		
		DECLARE @MsgErro VARCHAR(255), @Erro BIT

		IF NULLIF(TRIM(@CPF), '') IS NULL
		BEGIN
			RAISERROR(50001, 10, 1, 'cpf', 'O campo CPF não pode estar vazio')
			SET @Erro = 1
		END

		IF @CPF LIKE '%[A-Za-z]%'
		BEGIN
			RAISERROR(50001, 10, 1, 'cpf', 'O campo CPF não pode conter letras!')
			SET @Erro = 1
		END

		IF LEN(@CPF) < 11
		BEGIN
			RAISERROR(50001, 10, 1, 'cpf', 'O campo CPF não pode conter menos que 11 caracteres')
			SET @Erro = 1
		END

		IF LEN(@CPF) > 11
		BEGIN
			RAISERROR(50001, 10, 1, 'cpf', 'O campo CPF não pode conter mais que 11 caracteres')
			SET @Erro = 1
		END

		IF NULLIF(TRIM(@NOME), '') IS NULL
		BEGIN
			RAISERROR(50001, 10, 1, 'nome', 'O campo Nome não pode estar vazio')
			SET @Erro = 1
		END

		IF ISNUMERIC(@NOME) = 1
		BEGIN
			RAISERROR(50001, 10, 1, 'nome', 'O campo Nome não pode conter números!')
			SET @Erro = 1
		END

		IF LEN(@NOME) < 3
		BEGIN
			RAISERROR(50001, 10, 1, 'nome', 'O campo Nome não pode ter menos que 3 caracteres')
			SET @Erro = 1
		END

		IF NULLIF(TRIM(@SENHA), '') IS NULL
		BEGIN
			RAISERROR(50001, 10, 1, 'senha', 'A senha não pode ser vazia!')
			SET @Erro = 1
		END

		IF @SENHA NOT LIKE '%[0-9]%'
		BEGIN
			RAISERROR(50001, 10, 1, 'senha', 'A senha deve contem pelo menos um número')
			SET @Erro = 1
		END


		IF @SENHA NOT LIKE '%[A-Z]%'
		BEGIN
			RAISERROR(50001, 10, 1, 'senha', 'A senha deve conter pelo menos uma letra maiuscula')
			SET @Erro = 1
		END

		IF @SENHA NOT LIKE '%[a-z]%'
		BEGIN
			RAISERROR(50001, 10, 1, 'senha', 'A senha deve conter pelo menos uma letra minuscula')
			SET @Erro = 1
		END

		IF LEN(@SENHA) < 6
		BEGIN
			RAISERROR(50001, 10, 1, 'senha', 'O senha não pode ter menos que 6 caracteres')
			SET @Erro = 1
		END

		IF @Erro = 1 RETURN 1

		IF EXISTS (
			SELECT *
			FROM
			Ism_Operador
			WHERE Cpf = @CPF AND @idOperador != idOperador
		)
		BEGIN
			RAISERROR('Operação cancelada. Ja existe um Operador com esse CPF cadastrado!', 16, 1)
		END

		UPDATE Ism_Operador SET
			Cpf = @CPF,
			Nome = @NOME,
			Senha = @SENHA
		WHERE idOperador = @idOperador


		RETURN 0
	END TRY
	BEGIN CATCH 
		SET @MsgErro = ERROR_MESSAGE()
		RAISERROR(@MsgErro, 16, 1)

		RETURN 1
	END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[stp_Ism_Pagina_Del]    Script Date: 12/03/2026 16:21:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- ===============================================
-- Autor: Isac Macedo
-- Data criação: 24/02/2026
-- Descrição: Exclui Registros da Tabela Ism_Pagina
-- ===============================================


CREATE   PROCEDURE [dbo].[stp_Ism_Pagina_Del](
	@IdPagina INT = NULL,
	@IdModulo INT = NULL,
	@Codigo VARCHAR(50) = NULL,
	@Caption VARCHAR(50) = NULL
)
AS
BEGIN
	BEGIN TRY
		SET NOCOUNT ON

		DECLARE @MsgErro VARCHAR(255), @Erro BIT

		IF @IdPagina IS NULL
		BEGIN 
			RAISERROR('Informe o ID do modulo a ser removido dos registros', 16, 1)
		END


		DELETE Ism_Pagina
		WHERE IdPagina = @IdPagina


		RETURN 0 
	END TRY
	BEGIN CATCH
		SET @MsgErro = ERROR_MESSAGE()
		RAISERROR(@MsgErro, 16, 1)
	END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[stp_Ism_Pagina_Ins]    Script Date: 12/03/2026 16:21:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ================================================
-- Autor: Isac Macedo
-- Data criação: 24/02/2026
-- Descrição: Inserir Registros da Tabela Ism_Pagina
-- ================================================


CREATE   PROCEDURE [dbo].[stp_Ism_Pagina_Ins](
	@idPagina INT = NULL,
	@idModulo INT = NULL,
	@Codigo VARCHAR(50) = NULL,
	@Caption VARCHAR(50) = NULL
)
AS
BEGIN
	BEGIN TRY 
		SET NOCOUNT ON
		
		DECLARE @MsgErro VARCHAR(255), @Erro BIT

		IF @idModulo IS NULL
		BEGIN                                   
			RAISERROR(50001, 10, 1, 'idModulo', 'Selecione um modulo!')
			SET @Erro = 1
		END

			IF NULLIF(TRIM(@Codigo), '') IS NULL
		BEGIN
			RAISERROR(50001, 10, 1, 'codigo', 'O codigo da pagina não pode estar vazio')
			SET @Erro = 1
		END

		IF ISNUMERIC(@Codigo) = 1
		BEGIN
			RAISERROR(50001, 10, 1, 'codigo', 'O codigo da pagina não pode ser numérico')
			SET @Erro = 1
		END

		IF LEN(@Codigo) < 3
		BEGIN
			RAISERROR(50001, 10, 1, 'codigo', 'O codigo da pagina não pode ter menos que 3 caracteres')
			SET @Erro = 1
		END

		IF NULLIF(TRIM(@Caption), '') IS NULL
		BEGIN
			RAISERROR(50001, 10, 1, 'caption', 'O caption da pagina não pode estar vazio')
			SET @Erro = 1
		END

		IF ISNUMERIC(@Caption) = 1
		BEGIN
			RAISERROR(50001, 10, 1, 'caption', 'O caption da pagina não pode ser numérico')
			SET @Erro = 1
		END

		IF LEN(@Caption) < 3
		BEGIN
			RAISERROR(50001, 10, 1, 'caption', 'O caption da pagina não pode ter menos que 3 caracteres')
			SET @Erro = 1
		END

		IF @Erro = 1 RETURN 1

		IF EXISTS (
			SELECT *
			FROM
			Ism_Pagina
			WHERE Caption = @Caption OR Codigo = @Codigo
		)
		BEGIN
			RAISERROR('Operação cancelada. Ja existe uma pagina com informações iguais cadastrado', 16, 1)
		END

		INSERT INTO Ism_Pagina(idModulo, Codigo, Caption)
		VALUES (@idModulo, @Codigo, @Caption)

		RETURN 0
	END TRY
	BEGIN CATCH 
		SET @MsgErro = ERROR_MESSAGE()
		RAISERROR(@MsgErro, 16, 1)

		RETURN 1
	END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[stp_Ism_Pagina_Sel]    Script Date: 12/03/2026 16:21:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- ================================================
-- Autor: Isac Macedo
-- Data criação: 24/02/2026
-- Descrição: Selecionar Registros da Tabela Ism_Pagina
-- ================================================

CREATE   PROCEDURE [dbo].[stp_Ism_Pagina_Sel](
	@Tipo INT = NULL,
	@idPagina INT = NULL
)
AS
BEGIN
	BEGIN TRY 
		SET NOCOUNT ON
		
		DECLARE @MsgErro VARCHAR(25)


		IF @Tipo = 1
		BEGIN
			SELECT 
				ISP.idPagina,
				ISP.idModulo,
				IM.Caption AS NomeModulo,
				ISP.Codigo,
				ISP.Caption
			FROM Ism_Pagina ISP
			INNER JOIN Ism_Modulo IM ON ISP.idModulo = IM.idModulo
			WHERE idPagina = @idPagina OR @idPagina IS NULL
		END

		IF @Tipo = 2 
		BEGIN
			SELECT
				IM.idModulo,
				IM.idSistema,
				IST.Caption AS NomeSistema,
				IM.Codigo,
				IM.Caption
			FROM Ism_Modulo IM
			INNER JOIN Ism_Sistema IST ON IM.idSistema = IST.idSistema
		END
			

		RETURN 0
	END TRY
	BEGIN CATCH 
		SET @MsgErro = ERROR_MESSAGE()
		RAISERROR(@MsgErro, 16, 1)

		RETURN 1
	END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[stp_Ism_Pagina_Upt]    Script Date: 12/03/2026 16:21:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- ================================================
-- Autor: Isac Macedo
-- Data criação: 24/02/2026
-- Descrição: Altera Registros da Tabela Ism_Pagina
-- ================================================


CREATE   PROCEDURE [dbo].[stp_Ism_Pagina_Upt](
	@idPagina INT = NULL,
	@idModulo INT = NULL,
	@Codigo VARCHAR(50) = NULL,
	@Caption VARCHAR(50) = NULL
)
AS
BEGIN
	BEGIN TRY 
		SET NOCOUNT ON
		
		DECLARE @MsgErro VARCHAR(255), @Erro BIT

		IF @idModulo IS NULL
		BEGIN                                   
			RAISERROR(50001, 10, 1, 'idModulo', 'Selecione um sistema!')
			SET @Erro = 1
		END

			IF NULLIF(TRIM(@Codigo), '') IS NULL
		BEGIN
			RAISERROR(50001, 10, 1, 'codigo', 'O codigo da pagina não pode estar vazio')
			SET @Erro = 1
		END

		IF ISNUMERIC(@Codigo) = 1
		BEGIN
			RAISERROR(50001, 10, 1, 'codigo', 'O codigo da pagina não pode ser numérico')
			SET @Erro = 1
		END

		IF LEN(@Codigo) < 3
		BEGIN
			RAISERROR(50001, 10, 1, 'codigo', 'O codigo da pagina não pode ter menos que 3 caracteres')
			SET @Erro = 1
		END

		IF NULLIF(TRIM(@Caption), '') IS NULL
		BEGIN
			RAISERROR(50001, 10, 1, 'caption', 'O caption da pagina não pode estar vazio')
			SET @Erro = 1
		END

		IF ISNUMERIC(@Caption) = 1
		BEGIN
			RAISERROR(50001, 10, 1, 'caption', 'O caption da pagina não pode ser numérico')
			SET @Erro = 1
		END

		IF LEN(@Caption) < 3
		BEGIN
			RAISERROR(50001, 10, 1, 'caption', 'O caption da pagina não pode ter menos que 3 caracteres')
			SET @Erro = 1
		END

		IF @Erro = 1 RETURN 1

		IF EXISTS (
			SELECT *
			FROM
			Ism_Pagina
			WHERE Caption = @Caption OR Codigo = @Codigo AND idModulo = @idModulo AND @idPagina != idPagina
		)
		BEGIN
			RAISERROR('Operação cancelada. Ja existe uma pagina com informações iguais cadastrado', 16, 1)
		END

		UPDATE Ism_Pagina SET
			idModulo = @idModulo,
			Codigo = @Codigo,
			Caption = @Caption
		WHERE idPagina = @idPagina


		RETURN 0
	END TRY
	BEGIN CATCH 
		SET @MsgErro = ERROR_MESSAGE()
		RAISERROR(@MsgErro, 16, 1)

		RETURN 1
	END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[stp_Ism_Participacao_Sel]    Script Date: 12/03/2026 16:21:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- ================================================
-- Autor: Isac Macedo
-- Data criação: 05/02/2026
-- Descrição: Selecionar Registros da Tabela Ism_Participacao
-- ================================================

CREATE   PROCEDURE [dbo].[stp_Ism_Participacao_Sel](
	@Tipo INT = NULL,
	@IdJogo INT = NULL

)
AS
BEGIN
	BEGIN TRY 
		SET NOCOUNT ON
		
		DECLARE @MsgErro VARCHAR(25)

		IF @Tipo = 1 
		BEGIN
			SELECT 
			IJ.idJogo,
			IT1.Nome AS NomeTime1,
			IJ.Placar1,
			IT2.Nome AS NomeTime2,
			IJ.Placar2
			FROM
			Ism_Jogo IJ
			INNER JOIN Ism_Time IT1 ON IJ.idTime1 = IT1.idTime
			INNER JOIN Ism_Time IT2 ON IJ.idTime2 = IT2.idTime
		END

		IF @Tipo = 2 
		BEGIN
			;WITH J
			AS 
			(SELECT DISTINCT
			IJ.idJogo,
			IJG.idJogador,
			IJG.idTime,
			CASE
				WHEN IT1.idTime = IJG.idTime then IT1.Nome
				WHEN IT2.idTime = IJG.idTime THEN IT2.Nome
				END AS NomeTime,
			IJG.Nome,
			IJG.Capitao,
			IJG.Tecnico,
			IJG.Suspenso
			FROM
			Ism_Jogo IJ
			INNER JOIN Ism_Time IT1 ON IJ.idTime1 = IT1.idTime
			INNER JOIN Ism_Time IT2 ON IJ.idTime2 = IT2.idTime
			INNER JOIN Ism_Jogador IJG ON IJG.idTime = IJ.idTime1 OR IJG.idTime = IJ.idTime2
			)
			SELECT distinct
			J.Idjogo,
			J.idJogador,
			J.NomeTime,
			J.idTime,
			J.Capitao,
			J.Tecnico,
			J.Suspenso,
			Nome AS NomeJogador,
			isnull (GolsMarcados, 0) as GolsMarcados
			from J
			left join Ism_Participacao ipa on ipa.idJogo = J.idJogo AND ipa.idJogador = J.idJogador
			WHERE J.IDJOGO = @IdJogo
			ORDER BY idTime
		END


		RETURN 0
	END TRY
	BEGIN CATCH 
		SET @MsgErro = ERROR_MESSAGE()
		RAISERROR(@MsgErro, 16, 1)

		RETURN 1
	END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[stp_Ism_Participacao_Upt]    Script Date: 12/03/2026 16:21:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- ===============================================
-- Autor: Isac Macedo
-- Data criação: 05/02/2026
-- Descrição: Altera Registros da Tabela Ism_Participacao
-- ===============================================

CREATE   PROCEDURE [dbo].[stp_Ism_Participacao_Upt] (
	@idJogo INT = NULL,
	@idJogador INT = NULL,
	@IdTime INT = NULL
)
AS
BEGIN
	BEGIN TRY
		SET NOCOUNT ON 

		DECLARE @MsgErro VARCHAR(255), @DataInicio datetime, @DataFinal datetime

		IF @idJogo IS NULL 
		BEGIN 
			RAISERROR('Insira idJogo', 16, 1)
		END

		IF @idJogador IS NULL
		BEGIN 
			RAISERROR('Insira idJogador', 16, 1)
		END

		

		IF NOT EXISTS (
			SELECT idJogador
			FROM Ism_Jogador
			WHERE idJogador = @idJogador
		)
		BEGIN
			RAISERROR('Operação cancelada. Não foi possivel identificar o Jogador informado pelo ID %d', 16, 1, @idJogador)
		END


		IF NOT EXISTS (
			SELECT idJogo
			FROM Ism_Jogo
			WHERE idJogo = @idJogo
		)
		BEGIN
			RAISERROR('Operação cancelada. Não foi possivel identificar o Jogo informado pelo ID %d', 16, 1, @idJogo)
		END


		SELECT 
			@DataInicio = DataInicio,
			@DataFinal = DataFinal
		FROM Ism_Jogo
		WHERE idJogo = @idJogo

		IF GETDATE() NOT BETWEEN @DataInicio AND @DataFinal
		BEGIN
			RAISERROR('Operação cancelada. Esse jogo não foi iniciado ou ja terminou', 16, 1)
		END

		IF EXISTS (
			SELECT 1
			FROM Ism_Jogador
			WHERE (@idJogador = idJogador) AND (Tecnico = 1 OR Suspenso = 1)
		)
		BEGIN
			RAISERROR('Operação cancelada. Um tecnico ou um jogador suspenso não pode marcar gols', 16, 1)
		END


		IF NOT EXISTS (
			SELECT 1
			FROM Ism_Participacao
			WHERE idJogo = @idJogo AND idJogador = @idJogador
		)
		BEGIN
			INSERT INTO Ism_Participacao (idJogo, idJogador, GolsMarcados)
			VALUES (@idJogo, @idJogador, 1)
		END
		ELSE
		BEGIN
			UPDATE Ism_Participacao SET
				idJogo = @idJogo,
				idJogador = @idJogador,
				GolsMarcados = GolsMarcados + 1
			WHERE idJogo = @idJogo AND idJogador = @idJogador
		END

	
			UPDATE Ism_Jogo SET
			Placar1 = CASE  WHEN @IdTime = idTime1 THEN Placar1 + 1 else Placar1 end,
			Placar2 = CASE  WHEN @IdTime = idTime2 THEN Placar2 + 1 else Placar2 end
			WHERE idJogo = @idJogo

		RETURN 0
	END TRY
	BEGIN CATCH
		SET @MsgErro = ERROR_MESSAGE()
		RAISERROR(@MsgErro, 16, 1)
	END CATCH
END
		
GO
/****** Object:  StoredProcedure [dbo].[stp_Ism_Sistema_Del]    Script Date: 12/03/2026 16:21:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- ================================================
-- Autor: Isac Macedo
-- Data criação: 23/02/2026
-- Descrição: Deleta Registros da Tabela Ism_Sistema
-- ================================================

CREATE   PROCEDURE [dbo].[stp_Ism_Sistema_Del](
	@idSistema INT = NULL,
	@Codigo VARCHAR(50) = NULL,
	@Caption VARCHAR(50) = NULL
)
AS
BEGIN
	BEGIN TRY 
		SET NOCOUNT ON
		
		DECLARE @MsgErro VARCHAR(25)

		IF @idSistema IS NULL
		BEGIN
			RAISERROR('Operação cancelada. Selecione um sistema para deletar!', 16, 1)
		END

		DELETE Ism_Sistema
		WHERE idSistema = @idSistema

		RETURN 0
	END TRY
	BEGIN CATCH 
		SET @MsgErro = ERROR_MESSAGE()
		RAISERROR(@MsgErro, 16, 1)

		RETURN 1
	END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[stp_Ism_Sistema_Ins]    Script Date: 12/03/2026 16:21:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ================================================
-- Autor: Isac Macedo
-- Data criação: 23/02/2026
-- Descrição: Inserir Registros da Tabela Ism_Sistema
-- ================================================


CREATE   PROCEDURE [dbo].[stp_Ism_Sistema_Ins](
	@idSistema INT = NULL,
	@Codigo VARCHAR(50) = NULL,
	@Caption VARCHAR(50) = NULL
)
AS
BEGIN
	BEGIN TRY 
		SET NOCOUNT ON
		
		DECLARE @MsgErro VARCHAR(255), @Erro BIT

			IF NULLIF(TRIM(@Codigo), '') IS NULL
		BEGIN
			RAISERROR(50001, 10, 1, 'codigo', 'O codigo do sistema não pode estar vazio')
			SET @Erro = 1
		END

		IF ISNUMERIC(@Codigo) = 1
		BEGIN
			RAISERROR(50001, 10, 1, 'codigo', 'O codigo do sistema não pode ser numérico')
			SET @Erro = 1
		END

		IF LEN(@Codigo) < 3
		BEGIN
			RAISERROR(50001, 10, 1, 'codigo', 'O codigo do sistema não pode ter menos que 3 caracteres')
			SET @Erro = 1
		END

		IF NULLIF(TRIM(@Caption), '') IS NULL
		BEGIN
			RAISERROR(50001, 10, 1, 'caption', 'O caption do sistema não pode estar vazio')
			SET @Erro = 1
		END

		IF ISNUMERIC(@Caption) = 1
		BEGIN
			RAISERROR(50001, 10, 1, 'caption', 'O caption do sistema não pode ser numérico')
			SET @Erro = 1
		END

		IF LEN(@Caption) < 3
		BEGIN
			RAISERROR(50001, 10, 1, 'caption', 'O caption do sistema não pode ter menos que 3 caracteres')
			SET @Erro = 1
		END

		IF @Erro = 1 RETURN 1

		IF EXISTS (
			SELECT *
			FROM
			Ism_Sistema
			WHERE Caption = @Caption OR Codigo = @Codigo
		)
		BEGIN
			RAISERROR('Operação cancelada. Ja existe um sistema com informações iguais cadastrado', 16, 1)
		END

		INSERT INTO Ism_Sistema (Codigo, Caption)
		VALUES (@Codigo, @Caption)

		RETURN 0
	END TRY
	BEGIN CATCH 
		SET @MsgErro = ERROR_MESSAGE()
		RAISERROR(@MsgErro, 16, 1)

		RETURN 1
	END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[stp_Ism_Sistema_Sel]    Script Date: 12/03/2026 16:21:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[stp_Ism_Sistema_Sel](
	@IdSistema INT = NULL
)
AS
BEGIN
	BEGIN TRY 
		SET NOCOUNT ON
		
		DECLARE @MsgErro VARCHAR(25)

			SELECT
				idSistema,
				Codigo,
				Caption
			FROM Ism_Sistema
			WHERE idSistema = @idSistema OR @idSistema IS NULL
			

		RETURN 0
	END TRY
	BEGIN CATCH 
		SET @MsgErro = ERROR_MESSAGE()
		RAISERROR(@MsgErro, 16, 1)

		RETURN 1
	END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[stp_Ism_Sistema_Upt]    Script Date: 12/03/2026 16:21:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- ================================================
-- Autor: Isac Macedo
-- Data criação: 23/02/2026
-- Descrição: Altera Registros da Tabela Ism_Sistema
-- ================================================


CREATE   PROCEDURE [dbo].[stp_Ism_Sistema_Upt](
	@IdSistema INT = NULL,
	@Codigo VARCHAR(50) = NULL,
	@Caption VARCHAR(50) = NULL
)
AS
BEGIN
	BEGIN TRY 
		SET NOCOUNT ON
		
		DECLARE @MsgErro VARCHAR(255), @Erro BIT

			IF NULLIF(TRIM(@Codigo), '') IS NULL
		BEGIN
			RAISERROR(50001, 10, 1, 'codigo', 'O codigo do sistema não pode estar vazio')
			SET @Erro = 1
		END

		IF ISNUMERIC(@Codigo) = 1
		BEGIN
			RAISERROR(50001, 10, 1, 'codigo', 'O codigo do sistema não pode ser numérico')
			SET @Erro = 1
		END

		IF LEN(@Codigo) < 3
		BEGIN
			RAISERROR(50001, 10, 1, 'codigo', 'O codigo do sistema não pode ter menos que 3 caracteres')
			SET @Erro = 1
		END

		IF NULLIF(TRIM(@Caption), '') IS NULL
		BEGIN
			RAISERROR(50001, 10, 1, 'caption', 'O caption do sistema não pode estar vazio')
			SET @Erro = 1
		END

		IF ISNUMERIC(@Caption) = 1
		BEGIN
			RAISERROR(50001, 10, 1, 'caption', 'O caption do sistema não pode ser numérico')
			SET @Erro = 1
		END

		IF LEN(@Caption) < 3
		BEGIN
			RAISERROR(50001, 10, 1, 'caption', 'O caption do sistema não pode ter menos que 3 caracteres')
			SET @Erro = 1
		END

		IF @Erro = 1 RETURN 1

		IF EXISTS (
			SELECT *
			FROM
			Ism_Sistema
			WHERE Caption = @Caption OR Codigo = @Codigo AND idSistema != @IdSistema 
		)
		BEGIN
			RAISERROR('Operação cancelada. Ja existe um sistema com informações iguais cadastrado', 16, 1)
		END

		UPDATE Ism_Sistema SET
			Codigo = @Codigo,
			Caption = @Caption
		WHERE idSistema = @IdSistema


		RETURN 0
	END TRY
	BEGIN CATCH 
		SET @MsgErro = ERROR_MESSAGE()
		RAISERROR(@MsgErro, 16, 1)

		RETURN 1
	END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[stp_Ism_Time_Del]    Script Date: 12/03/2026 16:21:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- ===============================================
-- Autor: Isac Macedo
-- Data criação: 05/02/2026
-- Descrição: Exclui Registros da Tabela Ism_Time
-- ===============================================


CREATE   PROCEDURE [dbo].[stp_Ism_Time_Del] (
	@IdTime INT = NULL,
	@Nome VARCHAR(50) = NULL
)
AS
BEGIN
	BEGIN TRY
		SET NOCOUNT ON

		DECLARE @MsgErro VARCHAR(255)

		IF @IdTime IS NULL
		BEGIN 
			RAISERROR('Operação Cancelada. Selecione o time que deseja excluir!', 16, 1)
		END

		IF NOT EXISTS (
			SELECT idTime
			FROM Ism_Time
			WHERE idTime = @IdTime
		)
		BEGIN
			RAISERROR('Operação Cancelada. Selecione o time que deseja excluir', 16, 1, @IdTime)
		END

		IF EXISTS (
			SELECT IJ.idJogo
			FROM Ism_Jogo IJ
			INNER JOIN Ism_Time IT ON IJ.idTime1 = IT.idTime OR  IJ.idTime2 = IT.idTime
			WHERE IT.idTime = @IdTime
		)
		BEGIN
			RAISERROR('Operação Cancelada. Existe um ou mais jogos associado ao time de ID: %d', 16, 1, @IdTime)
		END

		IF EXISTS (
			SELECT IJ.idJogador
			FROM Ism_Jogador IJ
			INNER JOIN Ism_Time IT ON IJ.idTime = IT.idTime
			WHERE IT.idTime = @IdTime
		)
		BEGIN
			RAISERROR('Operação Cancelada. Existe um ou mais jogadores associado ao time de ID: %d', 16, 1, @IdTime)
		END

		DELETE Ism_Time
		WHERE idTime = @IdTime

		RETURN 0 
	END TRY
	BEGIN CATCH
		SET @MsgErro = ERROR_MESSAGE()
		RAISERROR(@MsgErro, 16, 1)
	END CATCH
END

GO
/****** Object:  StoredProcedure [dbo].[stp_Ism_Time_Ins]    Script Date: 12/03/2026 16:21:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- ============================================
-- Autor: Isac Macedo
-- Data criação: 05/02/2026
-- Descrição: Inserir Registros da Tabela Ism_Time
-- ============================================

CREATE   PROCEDURE [dbo].[stp_Ism_Time_Ins] (
	@idTime INT = NULL,
	@Nome VARCHAR(50) = NULL
)
AS
BEGIN
	BEGIN TRY
		SET NOCOUNT ON

		DECLARE @MsgErro VARCHAR(255), @Erro BIT

		IF NULLIF(TRIM(@Nome), '') IS NULL
		BEGIN
			RAISERROR(50001, 10, 1, 'nome', 'O nome do time não pode estar vazio')
			SET @Erro = 1
		END

		IF ISNUMERIC(@Nome) = 1
		BEGIN
			RAISERROR(50001, 10, 1, 'nome', 'O nome do time não pode ser numérico')
			SET @Erro = 1
		END

		IF LEN(@Nome) < 3
		BEGIN
			RAISERROR(50001, 10, 1, 'nome', 'O nome do time não pode  ter menos que 3 caracteres')
			SET @Erro = 1
		END

		IF @Erro = 1 RETURN 1

		IF EXISTS (
			SELECT * 
			FROM Ism_Time
			WHERE Nome = @Nome
		)
		BEGIN
			RAISERROR('Operação cancelada. Ja existe um time com o nome %s cadastrado', 16, 1, @Nome)
		END

		INSERT Ism_Time (Nome)
		VALUES (@Nome)

		RETURN 0
	END TRY
	BEGIN CATCH
		SET @MsgErro = ERROR_MESSAGE()
		RAISERROR(@MsgErro, 16, 1)
		RETURN 1
	END CATCH
END


GO
/****** Object:  StoredProcedure [dbo].[stp_Ism_Time_Sel]    Script Date: 12/03/2026 16:21:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- ================================================
-- Autor: Isac Macedo
-- Data criação: 05/02/2026
-- Descrição: Selecionar Registros da Tabela Ism_Time
-- ================================================



CREATE   PROCEDURE [dbo].[stp_Ism_Time_Sel] (
	@idTime INT = NULL
)
AS
BEGIN
	BEGIN TRY 
		SET NOCOUNT ON
		
		DECLARE @MsgErro VARCHAR(25)

			SELECT
				IdTime,
				Nome
			FROM Ism_Time
			WHERE idTime = @idTime OR @idTime IS NULL

		RETURN 0
	END TRY
	BEGIN CATCH 
		SET @MsgErro = ERROR_MESSAGE()
		RAISERROR(@MsgErro, 16, 1)

		RETURN 1
	END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[stp_Ism_Time_Upt]    Script Date: 12/03/2026 16:21:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- ===============================================
-- Autor: Isac Macedo
-- Data criação: 05/02/2026
-- Descrição: Altera Registros da Tabela Ism_Time
-- ===============================================

CREATE   PROCEDURE [dbo].[stp_Ism_Time_Upt] (
	@IdTime INT = NULL,
	@Nome VARCHAR(50) = NULL
)
AS
BEGIN
	BEGIN TRY
		SET NOCOUNT ON 

		DECLARE @MsgErro VARCHAR(255), @Erro BIT

		IF NULLIF(TRIM(@Nome), '') IS NULL
		BEGIN
			RAISERROR(50001, 10, 1, 'O nome do time não pode estar vazio')
			SET @Erro = 1
		END

		IF ISNUMERIC(@Nome) = 1
		BEGIN
			RAISERROR(50001, 10, 1, 'nome', 'O nome do time não pode ser numérico')
			SET @Erro = 1
		END

		IF LEN(@Nome) < 3
		BEGIN
			RAISERROR(50001, 10, 1, 'nome', 'O nome do time ter menos que 3 caracteres')
			SET @Erro = 1
		END

		IF @Erro = 1 RETURN 1

		IF @IdTime IS NULL OR NOT EXISTS (
			SELECT idTime
			FROM Ism_Time
			WHERE idTime = @IdTime
		) 
		BEGIN
			RAISERROR('Operação cancelada. Selecione um time para Alterar seu registro!', 16, 1)
		END

		IF EXISTS (
			SELECT Nome
			FROM Ism_Time
			WHERE Nome = @Nome
		)
		BEGIN
			RAISERROR('Operação cancelada. Ja existe um time com o nome %s cadastrado', 16, 1, @Nome)
		END

		UPDATE Ism_Time SET
			Nome = @Nome
		WHERE idTime = @idTime

		RETURN 0
	END TRY
	BEGIN CATCH
		SET @MsgErro = ERROR_MESSAGE()
		RAISERROR(@MsgErro, 16, 1)
	END CATCH
END
		
GO
USE [master]
GO
