

[data-bs-theme="dark"] {
    --bs-body-color: #fff; /* Cor branca para o texto */
    --bs-body-bg: #212529; /* Cor de fundo escura */
}

    /* Cor do h1*/
    /*[data-bs-theme="dark"] h1 {
        color: #e3e342;
    }*/

    /* Cor do texto dos cabeçalhos das tabelas */
    /*[data-bs-theme="dark"] th {
        color: black;
    }*/