/* Card campo */
/*.campo-card {
    position: relative;
}*/

/* Linha superior */
/*.linha-meio-topo {
    position: absolute;
    top: 0;
    left: 49.9%;
    width: 3px;
    height: 36%;
    background: #000;
    transform: translateX(-50%);
}*/

/* Linha inferior */
/*.linha-meio-baixo {
    position: absolute;
    bottom: 0;
    left: 49.9%;
    width: 3px;
    height: 33%;
    background: #000;
    transform: translateX(-50%);
}*/

/* Gol esquerdo */
/*.campo-card::after {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    width: 40px;
    height: 80px;
    border: 3px solid #000;
    border-left: none;
    transform: translateY(-50%);
}*/

/* Gol direito */
/*.gol-direito {
    position: absolute;
    right: 0;
    top: 50%;
    width: 40px;
    height: 80px;
    border: 3px solid #000;
    border-right: none;
    transform: translateY(-50%);
}*/



/* Card campo */
.campo-card {
    position: relative;
}

/* Linha superior */
.linha-meio-topo {
    position: absolute;
    top: 0;
    left: 50%;
    width: 2px;
    height: 35%;
    background: #000;
    transform: translateX(-50%);
}

/* Linha inferior */
.linha-meio-baixo {
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 2px;
    height: 35%;
    background: #000;
    transform: translateX(-50%);
}

/* Gol esquerdo */
.campo-card::after {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    width: clamp(12px, 3vw, 40px);
    height: clamp(35px, 7vw, 80px);
    border: 3px solid #000;
    border-left: none;
    transform: translateY(-50%);
}

/* Gol direito */
.gol-direito {
    position: absolute;
    right: 0;
    top: 50%;
    width: clamp(12px, 3vw, 40px);
    height: clamp(35px, 7vw, 80px);
    border: 3px solid #000;
    border-right: none;
    transform: translateY(-50%);
}


.search {
    position: relative;
}

.search-card{
    position: absolute;
    top: 40px;
    left: 0;
    min-width: 512px;
    border: 1px solid rgba(0,0,0,.2);
    background-color: #FFF;
    z-index: 2;
    display: none;
}

.search-card.show {
    display:block;
}

.search-head {
    background-color: #f7f7f7;
    border-bottom: 1px solid #ebebeb;
    padding: .5rem .75rem;
    display: flex;

}
.search-title {
    flex: 1;
}

.search-body {
    padding: .5rem .75rem;
}
.search-close {
    cursor: pointer
}