@{
    Page.Title = "Controle de Acesso";
    Layout = "~/ControleAcesso/_Layout.cshtml";


}

@functions {
    string idSessao = null;

    private void AlimentarVariavies()
    {
        idSessao = Convert.ToString(Session["idSessao"]);
    }

    private void EncerrarSessao()
    {
        Dictionary<string, object> parametros = new Dictionary<string, object>();
        parametros.Add("@idSessao", idSessao);


        new Dao().ExecutarProcedure("stp_Sys_FechaSessao", parametros);
    }
}

@{
    Util.ExceptionHandler(() =>
    {
        AlimentarVariavies();
        EncerrarSessao();
        Session["idSessao"] = null;
        Session["IdOperador"] = null;
    }, this.ModelState);

    Response.Redirect("~/");
}

<body>
    <h2>Sessão Encerrada</h2>
</body>

