@{
    Page.Title = "";
    Layout = "~/ControleAcesso/_Layout.cshtml";
}

@{
    if (Session["IdOperador"] != null)
    {
        Session["IdOperador"] = null;
        Response.Redirect("~/");
    }
}
<body>
    <h2>Sess„o encerrado</h2>
</body>