<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <title>@Page.Title</title>
    @RenderSection("head", required: false)
</head>

@RenderBody()

</html>

<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.min.js"></script>
<script src="~/Scripts/JquerryScripts.js"></script>