@{
    Page.Title = "Classificação";
    Layout = "~/AreaRestrita/_Layout.cshtml";
}

@functions {

    private class Classificacao
    {
        public string Time { get; set; }
        public string Pontuacao { get; set; }
        public string SaldoGols { get; set; }
        public string GolsMarcados { get; set; }
    }

    string time = null;
    string pontuacao = null;
    string saldoGols = null;
    string golsMarcados = null;

    List<Classificacao> classificacao = new List<Classificacao>();

    private void AlimentaVariaveis()
    {
        time = Request.Form["time"];
        pontuacao = Request.Form["pontuacao"];
        saldoGols = Request.Form["saldoGols"];
        golsMarcados = Request.Form["golsMarcados"];
    }
    private void Consultar()
    {
        Dao dao = new Dao();
        classificacao = dao.ExecutarProcedureList<Classificacao>("stp_Das_Classificacao_Sel", null);
    }
}

@{

    AlimentaVariaveis();
    Consultar();
}

@section head {
    <link href="~/Scripts/Style.css" rel="stylesheet">
}

<body>
    <form name="form1" method="post">

        <div class="container">

            <a href="/">Início</a>
            <h1>Classificação</h1>

            @if (classificacao != null)
            {
                <table class="table">
                    <thead>
                        <tr>
                            <th>Time</th>
                            <th>Pontuação</th>
                            <th>Saldo de Gols</th>
                            <th>Gols Marcados</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (Classificacao item in classificacao)
                        {
                            <tr>
                                <td>@item.Time</td>
                                <td>@item.Pontuacao</td>
                                <td>@item.SaldoGols</td>
                                <td>@item.GolsMarcados</td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
        </div>
    </form>
</body>