<nav class="navbar navbar-expand-lg">
    <div class="container-fluid">

        <div class="d-flex flex-column align-items-center w-100">

            <a class="navbar-brand mb-1 mt-1" href="/">
                <img src="~/Imagens/Logo.png" alt="Logo" width="80" height="80">
            </a>

            <ul class="navbar-nav fs-5 d-flex flex-row gap-4">

                
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button"
                       data-bs-toggle="dropdown" aria-expanded="false">
                        CopaLog
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="~/AreaRestrita/Copa/Cadastro/Time.cshtml">Times</a></li>
                        <li><a class="dropdown-item" href="~/AreaRestrita/Copa/Cadastro/Jogador.cshtml">Jogadores</a></li>
                        <li><a class="dropdown-item" href="~/AreaRestrita/Copa/Cadastro/Jogos.cshtml">Jogos</a></li>
                        <li><a class="dropdown-item" href="~/AreaRestrita/Copa/Cadastro/Participacao.cshtml">Participaçőes</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="~/AreaRestrita/Copa/Consulta/Classificacao.cshtml">Classificaçőes</a></li>
                        <li><a class="dropdown-item" href="~/AreaRestrita/Copa/Consulta/Artilharia.cshtml">Artilharia</a></li>
                    </ul>
                </li>

                
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button"
                       data-bs-toggle="dropdown" aria-expanded="false">
                        Administraçăo
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="~/AreaRestrita/Administrativo/Cadastro/Sistema.cshtml">Sistema</a></li>
                        <li><a class="dropdown-item" href="~/AreaRestrita/Administrativo/Cadastro/Modulo.cshtml">Modulos</a></li>
                        <li><a class="dropdown-item" href="~/AreaRestrita/Administrativo/Cadastro/Pagina.cshtml">Paginas</a></li>
                        <li><a class="dropdown-item" href="~/AreaRestrita/Administrativo/Cadastro/Acao.cshtml">Açőes</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="~/AreaRestrita/Administrativo/Segurança/Operador.cshtml">Operadores</a></li>
                        <li><a class="dropdown-item" href="~/AreaRestrita/Administrativo/Segurança/Operador.cshtml">Autorizaçőes</a></li>
                    </ul>
                </li>

            </ul>
        </div>
    </div>
</nav>