@*<a href="/">Início</a>
<a href="~/AreaRestrita/Page1.cshtml">Page 1</a>
<a href="~/AreaRestrita/Page2.cshtml">Page 2</a>
<a href="~/AreaRestrita/Page3.cshtml">Page 3</a>*@
<a href="~/AreaRestrita/Time.cshtml">Times</a>
<a href="~/AreaRestrita/Jogo.cshtml">Jogos</a>
<a href="~/AreaRestrita/Jogador.cshtml">Jogadores</a>
<a href="~/AreaRestrita/Classificacao.cshtml">Classificação</a>
<a href="~/AreaRestrita/Artilharia.cshtml">Artilheiros</a>
<a href="~/AreaRestrita/Participacao.cshtml">Participação</a>
<a href="~/AreaRestrita/Sistema.cshtml">Sistema</a>
<a href="~/AreaRestrita/Modulo.cshtml">Módulo</a>