@functions{

    private class Pagina
    {
        public string CodigoSistema { get; set; }
        public string CaptionSistema { get; set; }
        public string CodigoModulo { get; set; }
        public string CaptionModulo { get; set; }

        public string CodigoPagina { get; set; }
        public string CaptionPagina { get; set; }
    }

    List<Pagina> paginas = null;

    private void Consultar()
    {

        Identificacao identificacao = new Identificacao();


        Dictionary<string, object> parametros = new Dictionary<string, object>();
        parametros.Add("@TipoConsulta", "C_Menu");
        parametros.Add("@IdOperador", identificacao.IdOperador);


        paginas = new Dao().ExecutarProcedureList<Pagina>("stp_Das_MontaMenu", parametros);

    }

}

<a href="/">Início</a>
@if (paginas != null)
{
    foreach (Pagina item in paginas)
    {
        <a href="~/AreaRestrita/@item.CodigoSistema/@item.CodigoModulo/@(item.CodigoPagina).cshtml">@item.CaptionPagina/@item.CaptionModulo/@item.CaptionSistema</a>
    }
}