@{
    Page.Title = "PaginańŃo DinŌmica";
    Layout = "~/AreaRestrita/_layout.cshtml";
}
@section head{
    <link href="~/Scripts/Style.css" rel="stylesheet" />
}
<body>
    <form name="form1" id="form1" method="post">
        <input type="hidden" name="acao" id="acao">

        <div class="container">
            <h1 class="mb-4">Filtro pesquisa e paginańŃo</h1>

            <div>
                Exibindo
                <span id="span-infoPaginacaoInicio" class="text-primary"></span>
                <span id="span-infoPaginacaoFim" class="text-primary"></span>
                de
                <span id="span-totalRegistros"></span>
                registros
            </div>

            <div class="card mt-2">
                <div class="resultado"></div>
                <div class="card-footer">
                    <div id="paginacao" class="row justify-content-center">
                        <div class="col-auto">
                            <button type="button" id="btn-paginacaoPrimeiro" class="btn btn-outline-secondary" title="Ir para o primeiro" disabled><<</button>
                        </div>
                        <div class="col-auto">
                            <button type="button" id="btn-paginacaoAnterior" class="btn btn-outline-secondary" title="Anterior" disabled><</button>
                        </div>
                        <div class="col-auto">
                            Pßgina
                        </div>
                        <div class="col-auto">
                            <select class="form-select" name="pagina" id="pagina"></select>
                        </div>
                        <div class="col-auto">
                            de <span id="quantidadeDePagina"></span>
                        </div>
                        <div class="col-auto">
                            <button type="button" id="btn-paginacaoProximo" class="btn btn-outline-secondary" title="Pr¾ximo" disabled><<</button>
                        </div>
                        <div class="col-auto">
                            <button type="button" id="btn-paginacaoUltimo" class="btn btn-outline-secondary" title="Ir para o ·ltimo" disabled><<</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</body>